{% extends "question.njk" %}

{% from "look-and-feel/components/fields.njk" import formSection, textbox %}

{% set title %}
    {{ content.title | safe }}
{% endset %}

{% block fields %}
    {% if session.temp.linkCaseError %}
        <div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">
            <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
                {{ content.thereWasAProblem }}
            </h1>
            <ul class="error-summary-list">
                {% if session.temp.linkCaseAuthError %}
                    <li>{{ content.referenceNumberOrPinDoNotMatch }}</li>
                {% else %}
                    <li>{{ content.errorLinkingCase }}</li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
    <p>{{ content.instructions }}</p>
    {% call formSection() %}
        {{ textbox(fields.referenceNumber, content.referenceNumber, content.referenceNumberLabel) }}
        {{ textbox(fields.securityAccessCode, content.securityAccessCode, content.securityAccessCodeLabel) }}
    {% endcall %}
    <p class="bold-small">{{ content.infoAboutSetup }}</p>
{% endblock %}
