{% if fields.postcodeList and fields.postcodeList.value|length > 0 %}
  {% set submitButtonValue = defaultAddressContent.selectAddressSubmitUpdate if fields.selectedAddress.value and fields.selectedAddress.valid else defaultAddressContent.selectAddressSubmit %}

  {% call form(
      postUrl=postUrlSelectAddress,
      submitValue=submitButtonValue,
      submitClass="govuk-button--secondary",
      submitNoJSOnly=true
  ) %}

    <div class="govuk-form-group {{ errorClass(fields.selectedAddress) }}">
      <label class="govuk-label" for="{{ fields.selectedAddress.id }}">
        {{ content.fields.selectedAddress.label }}
      </label>

      {{ errorsFor(fields.selectedAddress) }}

      <select class="govuk-select" id="{{ fields.selectedAddress.id }}" name="{{ fields.selectedAddress.id }}" onchange="this.form.submit()">
        <option value="-1">{{ fields.postcodeList.value|length }} Addresses found</option>
        {% for fieldName, item in fields.postcodeList.fields %}
            <option {% if fields.selectedAddress.value === item.value %}selected{% endif %} value="{{ item.value }}">{{ item.value }}</option>
        {% endfor %}
      </select>
    </div>

  {% endcall %}
{% endif %}