{% extends "question.njk" %}

{% from "look-and-feel/components/fields.njk" import formSection, selectionButtons %}
{% from "look-and-feel/components/warning-text.njk" import warningText %}

{% set title %}
  {% set titleSize = titleSize | default('large') %}
  {{ content.title | safe }}
{% endset %}

{% block fields %}

  <!-- Application for divorce -->
  {% if session.originalPetition.previousCaseId %}
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.amendAppDetails }}</h3>
  {% endif %}
  <p class="govuk-body">
    {% if session.originalPetition.claimsCosts == "Yes" and session.originalPetition.financialOrder == "Yes" %}
      {% if "respondent" in session.originalPetition.claimsCostsFrom and "correspondent" in session.originalPetition.claimsCostsFrom %}
        {{ content.costsPetitionerPayedByRespondentAndCorrespondent | safe }}
      {% elseif "correspondent" in session.originalPetition.claimsCostsFrom  %}
        {{ content.costsPetitionerPayedByCorrespondent | safe }}
      {% else %}
        {{ content.costsPetitionerPayedByRespondent | safe }}
      {% endif %}
    {% elseif session.originalPetition.claimsCosts == "Yes" %}
      {% if "respondent" in session.originalPetition.claimsCostsFrom and "correspondent" in session.originalPetition.claimsCostsFrom %}
        {{ content.costsPetitionerDivorceCostsByRespondentAndCorespondent | safe }}
      {% elseif "correspondent" in session.originalPetition.claimsCostsFrom %}
        {{ content.costsPetitionerDivorceCostsByCorespondent | safe }}
      {% else %}
        {{ content.costsPetitionerDivorceCostsByRespondent | safe }}
      {% endif %}
    {% elseif session.originalPetition.financialOrder == "Yes" %}
      {{ content.costsPetitionerDivorceCostsByFinancialOrder | safe }}
    {% else %}
      {{ content.costsPetitionerDivorceNoCosts | safe }}
    {% endif %}
  </p>

  <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.issued }}</h3>
  {% if session.originalPetition.previousCaseId %}
    <p class="govuk-body">{{ session.originalPetition.previousIssueDate | date }}</p>
  {% else %}
    <p class="govuk-body">{{ session.originalPetition.issueDate | date }}</p>
  {% endif %}

  <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.caseReference }}</h3>
  <p class="govuk-body">{{ session.originalPetition.caseReference }}</p>

  <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.applicant }}</h3>
  <p class="govuk-body">{{ session.originalPetition.petitionerFirstName }} {{ session.originalPetition.petitionerLastName }}</p>

  <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.respondent }}</h3>
  <p class="govuk-body">{{ session.originalPetition.respondentFirstName }} {{ session.originalPetition.respondentLastName }}</p>

  <!-- EOF Application for divorce -->

  <!-- CoRespondent -->

  {% if session.originalPetition.reasonForDivorce == "adultery" and session.originalPetition.reasonForDivorceAdulteryWishToName == "Yes" %}
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.coRespondent }}</h3>
    <p class="govuk-body">{{ session.originalPetition.reasonForDivorceAdultery3rdPartyFirstName }} {{ session.originalPetition.reasonForDivorceAdultery3rdPartyLastName }}</p>
  {% endif %}

  <!-- EOF CoRespondent -->

  <details class="govuk-details">
    <summary class="govuk-details__summary" aria-controls="details-content-0" aria-expanded="false">
      <span class="govuk-details__summary-text">{{ content.whatThisMeans }}</span>
    </summary>
    <div class="govuk-details__text" id="details-content-0" aria-hidden="true">
      <p class="govuk-body">{{ content.divorceRoleExplain }}</p>
      {% if session.originalPetition.reasonForDivorce == "adultery" and session.originalPetition.reasonForDivorceAdulteryWishToName == "Yes" %}
        <p class="govuk-body">{{ content.coRespRoleExplain }}</p>
      {% endif %}
    </div>
  </details>

    <!-- About the marriage  -->

  <h2 class="govuk-heading-m">{{ content.aboutTheMarriage }}</h2>

  <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.whoTheMarriage }}</h3>
  <p class="govuk-body">{{ content.whoTheMarriageNames | safe }}</p>

  {% if session.originalPetition.placeOfMarriage %}
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.whereTheMarriage }}</h3>
    <p class="govuk-body">{{ session.originalPetition.placeOfMarriage }}</p>
  {% endif %}


  <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.dateOfMarriage }}</h3>
  <p class="govuk-body">{{ session.originalPetition.marriageDate | date }}</p>

  <details class="govuk-details">
    <summary class="govuk-details__summary" aria-controls="details-content-1" aria-expanded="false">
      <span class="govuk-details__summary-text">{{ content.whatThisMeans }}</span>
    </summary>
    <div class="govuk-details__text" id="details-content-1" aria-hidden="true">
      <p class="govuk-body">{{ content.marriageDetailsExplained }}</p>
    </div>
  </details>

  <!-- EOF About the marriage  -->


  <!-- Jurisdiction -->

  <h2 class="govuk-heading-m">{{ content.whyTheCourtHeading }}</h2>

  {% if session.originalPetition.jurisdictionConnection|length > 1 and session.originalPetition.jurisdictionConnection != ["A", "C"] and session.originalPetition.jurisdictionConnection != ["C", "A"] %}
    <ul class="govuk-list govuk-list--bullet">
  {% endif %}

    {% if "A" in session.originalPetition.jurisdictionConnection %}
      {% if session.originalPetition.jurisdictionConnection|length > 1 and session.originalPetition.jurisdictionConnection != ["A", "C"] and session.originalPetition.jurisdictionConnection != ["C", "A"] %}
        <li>
      {% endif %}

      {{ content.jurisdictionConnectionBothResident }}

      {% if session.originalPetition.jurisdictionConnection|length > 1  and session.originalPetition.jurisdictionConnection != ["A", "C"] and session.originalPetition.jurisdictionConnection != ["C", "A"] %}
        </li>
      {% endif %}
    {% endif %}

    {% if "B" in session.originalPetition.jurisdictionConnection %}
      {% if session.originalPetition.jurisdictionConnection|length > 1 and session.originalPetition.jurisdictionConnection != ["A", "C"] and session.originalPetition.jurisdictionConnection != ["C", "A"] %}
        <li>
      {% endif %}

      {{ content.jurisdictionConnectionOneResides }}

      {% if session.originalPetition.jurisdictionConnection|length > 1 and session.originalPetition.jurisdictionConnection != ["A", "C"] and session.originalPetition.jurisdictionConnection != ["C", "A"] %}
        </li>
      {% endif %}
    {% endif %}

    {% if "C" in session.originalPetition.jurisdictionConnection %}
      {% if session.originalPetition.jurisdictionConnection|length > 1 and session.originalPetition.jurisdictionConnection != ["A", "C"] and session.originalPetition.jurisdictionConnection != ["C", "A"] %}
        <li>
      {% endif %}

      {{ content.jurisdictionConnectionRespondent }}

      {% if session.originalPetition.jurisdictionConnection|length > 1 and session.originalPetition.jurisdictionConnection != ["A", "C"] and session.originalPetition.jurisdictionConnection != ["C", "A"] %}
        </li>
      {% endif %}
    {% endif %}

    {% if "D" in session.originalPetition.jurisdictionConnection %}
      {% if session.originalPetition.jurisdictionConnection|length > 1 and session.originalPetition.jurisdictionConnection != ["A", "C"] and session.originalPetition.jurisdictionConnection != ["C", "A"] %}
        <li>
      {% endif %}

      {{ content.jurisdictionConnectionPetitioner }}

      {% if session.originalPetition.jurisdictionConnection|length > 1 and session.originalPetition.jurisdictionConnection != ["A", "C"] and session.originalPetition.jurisdictionConnection != ["C", "A"] %}
        </li>
      {% endif %}
    {% endif %}

    {% if "E" in session.originalPetition.jurisdictionConnection %}
      {% if session.originalPetition.jurisdictionConnection|length > 1 and session.originalPetition.jurisdictionConnection != ["A", "C"] and session.originalPetition.jurisdictionConnection != ["C", "A"] %}
        <li>
      {% endif %}

      {{ content.jurisdictionConnectionPetitionerSixMonths }}

      {% if session.originalPetition.jurisdictionConnection|length > 1 and session.originalPetition.jurisdictionConnection != ["A", "C"] and session.originalPetition.jurisdictionConnection != ["C", "A"] %}
        </li>
      {% endif %}
    {% endif %}

    {% if "F" in session.originalPetition.jurisdictionConnection %}
      {% if session.originalPetition.jurisdictionConnection|length > 1 and session.originalPetition.jurisdictionConnection != ["A", "C"] and session.originalPetition.jurisdictionConnection != ["C", "A"] %}
        <li>
      {% endif %}

      {{ content.jurisdictionConnectionBothDomiciled }}

      {% if session.originalPetition.jurisdictionConnection|length > 1 and session.originalPetition.jurisdictionConnection != ["A", "C"] and session.originalPetition.jurisdictionConnection != ["C", "A"] %}
        </li>
      {% endif %}
    {% endif %}

    {% if "G" in session.originalPetition.jurisdictionConnection %}
      {% if session.originalPetition.jurisdictionConnection|length > 1 and session.originalPetition.jurisdictionConnection != ["A", "C"] and session.originalPetition.jurisdictionConnection != ["C", "A"] %}
        <li>
      {% endif %}

      {{ content.jurisdictionConnectionOther }}

      {% if session.originalPetition.jurisdictionConnection|length > 1 and session.originalPetition.jurisdictionConnection != ["A", "C"] and session.originalPetition.jurisdictionConnection != ["C", "A"] %}
        </li>
      {% endif %}
    {% endif %}

  {% if session.originalPetition.jurisdictionConnection|length > 1 and session.originalPetition.jurisdictionConnection != ["A", "C"] and session.originalPetition.jurisdictionConnection != ["C", "A"] %}
    </ul>
  {% endif %}

  <br>

  <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.otherCourtCases }}</h3>

  {% if session.originalPetition.legalProceedings == "No" %}
    <p class="govuk-body">{{ content.onGoingCasesNo }}</p>
  {% else %}
    <p class="govuk-body">{{ content.onGoingCasesYes }}</p>
    <p class="govuk-body">"{{ session.originalPetition.legalProceedingsDetails }}"</p>
  {% endif %}

  <details class="govuk-details">
    <summary class="govuk-details__summary" aria-controls="details-content-2" aria-expanded="false">
      <span class="govuk-details__summary-text">{{ content.whatThisMeans }}</span>
    </summary>
    <div class="govuk-details__text" id="details-content-2" aria-hidden="true">
      <p class="govuk-body">{{ content.theCourtsOfEngland }}</p>
      <p class="govuk-body">{{ content.eachLegalStatement }}</p>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.habitualResidence }}</h3>
      <p class="govuk-body">{{ content.habitualResidencePar1 }}</p>
      <p class="govuk-body">{{ content.habitualResidencePar2 }}</p>
      <p class="govuk-body">{{ content.habitualResidencePar3 }}</p>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.domicile }}</h3>
      <p class="govuk-body">{{ content.domicilePar1 }}</p>
      <p class="govuk-body">{{ content.domicilePar2 }}</p>
      <p class="govuk-body">{{ content.domicilePar3 | safe }}</p>
      <ul class="bullet govuk-list govuk-list--bullet">
        <li>{{ content.domicileList1 }}</li>
        <li>{{ content.domicileList2 }}</li>
      </ul>
      <p class="govuk-body">{{ content.domicilePar4 | safe }}</p>
      <p class="govuk-body">{{ content.domicilePar5 }}</p>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.residualJurisdiction }}</h3>
      <p class="govuk-body">{{ content.residualJurisdictionPar1 }}</p>
      <ul class="bullet govuk-list govuk-list--bullet">
        <li>{{ content.residualJurisdictionList2 }}</li>
        <li>{{ content.residualJurisdictionList3 }}</li>
      </ul>
    <p class="govuk-body">{{ content.residualJurisdictionPar2 }}</p>
      <ul class="bullet govuk-list govuk-list--bullet">
        <li>{{ content.residualJurisdictionList4 }}</li>
        <li>{{ content.residualJurisdictionList5 }}</li>
        <li>{{ content.residualJurisdictionList6 }}</li>
      </ul>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.otherCourtCases }}</h3>
      <p class="govuk-body">{{ content. otherCourtCasesPar1 }}</p>
    </div>
  </details>

  <!-- EOF Jurisdiction -->

  <!-- Reason for divorce -->

  <h2 class="govuk-heading-m">{{ content.reasonForDivorce }}</h2>

  <p class="govuk-body">
    {{ content.marriageBrokenDownIrretrievably }}
  </p>
  {% if session.originalPetition.reasonForDivorce == "adultery" %}

    <p class="govuk-body">
      {% if session.originalPetition.reasonForDivorceAdulteryWishToName == "Yes" %}
        {{ content.reasonForDivorceAdulteryCorrespondentNamed }}
      {% else %}
        {{ content.reasonForDivorceAdulteryCorrespondentNotNamed }}
      {% endif %}
    </p>

    <p class="govuk-body">{{ content.reasonForDivorceAdulteryStatement }}</p>

    {% if session.originalPetition.reasonForDivorceAdulteryKnowWhere == "Yes" %}
      <p class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.reasonForDivorceAdulteryWhere }}</p>
      <p class="govuk-body">"{{ session.originalPetition.reasonForDivorceAdulteryWhereDetails }}"</p>
    {% endif %}

    {% if session.originalPetition.reasonForDivorceAdulteryKnowWhen == "Yes" %}
      <p class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.reasonForDivorceAdulteryWhen }}</p>
      <p class="govuk-body">"{{ session.originalPetition.reasonForDivorceAdulteryWhenDetails }}"</p>
    {% endif %}

    <p class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.descriptionOfAdultery }}</p>
    <p class="govuk-body">"{{ session.originalPetition.reasonForDivorceAdulteryDetails }}"</p>

    {% if session.originalPetition.reasonForDivorceAdulterySecondHandInfo == "Yes" and
      session.originalPetition.reasonForDivorceAdulterySecondHandInfoDetails %}
      <p class="govuk-body">{{ content.statementOfSecondHandInformationAboutAdultery }}</p>
      <p class="govuk-body">"{{ session.originalPetition.reasonForDivorceAdulterySecondHandInfoDetails }}"</p>
    {% endif %}

  {% endif %}

  {% if session.originalPetition.reasonForDivorce == "unreasonable-behaviour" %}
    <p class="govuk-body">{{ content.reasonForDivorceUnreasonableBehaviourBrokenDown }}</p>
    <p class="govuk-body">{{ content.reasonForDivorceUnreasonableBehaviourStatement }}</p>

    <p class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.descriptionOfBehaviour }}</p>

    {% if session.originalPetition.reasonForDivorceBehaviourDetails %}
      <p class="govuk-body">"
          {% for item in alignSections(session.originalPetition.reasonForDivorceBehaviourDetails) %}
            {{ item | nl2br | safe }}
            {% if not loop.last %}
            <br>
            {% endif %}
          {% endfor %}
      "</p>
    {% endif %}
  {% endif %}

  {% if session.originalPetition.reasonForDivorce == "separation-2-years" %}
    <p class="govuk-body">{{ content.reasonForDivorceSeparationTwoYearsBrokenDown }}
      <ul class="govuk-list govuk-list--bullet">
          <li>{{ content.reasonForDivorceSeparationTwoYears }} {{ session.originalPetition.reasonForDivorceSeperationDate | date }}.</li>
          <li>{{ content.reasonForDivorceSeparationFiveYearsLvingApart }} {{ session.originalPetition.reasonForDivorceLivingApartDate | date }}.</li>
      </ul>
      <br>
      <p class="govuk-body">
        {{ content.reasonForDivorceSeparationTwoYears2DatesRecent }}
      </p>
  {% endif %}

  {% if session.originalPetition.reasonForDivorce == "separation-5-years" %}
    <p class="govuk-body">{{ content.reasonForDivorceSeparationFiveYearsBrokenDown }}</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>{{ content.reasonForDivorceSeparationFiveYears }} {{ session.originalPetition.reasonForDivorceSeperationDate | date }}.</li>
        <li>{{ content.reasonForDivorceSeparationFiveYearsLvingApart }} {{ session.originalPetition.reasonForDivorceLivingApartDate | date }}.</li>
    </ul>
    <br>
    <p class="govuk-body">
      {{ content.reasonForDivorceSeparationFiveYears2DatesRecent }}
    </p>
  {% endif %}

  {% if session.originalPetition.reasonForDivorce == "desertion" %}
    <p class="govuk-body">{{ content.reasonForDivorceDesertionBrokenDown }}</p>
    <p class="govuk-body">{{ content.reasonForDivorceDesertionStatement }}</p>
    <p class="govuk-body">{{ content.reasonForDivorceDesertion }} {{ session.originalPetition.reasonForDivorceDesertionDate | date }}.</p>
    {% if session.originalPetition.reasonForDivorceDesertionAgreed == "Yes" %}
       <p class="govuk-body">{{ content.reasonForDivorceDesertionAgreed }}</p>
    {% endif %}
    <p class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.descriptionOfDesertion }}</p>
    <p class="govuk-body">"{{ session.originalPetition.reasonForDivorceDesertionDetails }}"</p>
  {% endif %}

  <details class="govuk-details">
    <summary class="govuk-details__summary" aria-controls="details-content-3" aria-expanded="false">
      <span class="govuk-details__summary-text">{{ content.whatThisMeans }}</span>
    </summary>
    <div class="govuk-details__text" id="details-content-3" aria-hidden="true">
      <p class="govuk-body">{{ content.whatThisMeansReasonForDivorceLegalGround }}</p>
      <p class="govuk-body">{{ content.whatThisMeansReasonForDivorceChosenReason }}</p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.whatThisMeansReasonForDivorceBehaviour }}</h3>
      <p class="govuk-body">{{ content.whatThisMeansReasonForDivorceBehaviourDescription1 }}</p>
      <p class="govuk-body">{{ content.whatThisMeansReasonForDivorceBehaviourDescription2 }}</p>
      <p class="govuk-body">{{ content.whatThisMeansReasonForDivorceBehaviourDescription3 }}</p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.whatThisMeansReasonForDivorceAdultery }}</h3>
      <p class="govuk-body">{{ content.whatThisMeansReasonForDivorceAdulteryDescription1 }}</p>
      <p class="govuk-body">{{ content.whatThisMeansReasonForDivorceAdulteryDescription2 }}</p>
      <p class="govuk-body">{{ content.whatThisMeansReasonForDivorceAdulteryDescription3 }}</p>
      <p class="govuk-body">{{ content.whatThisMeansReasonForDivorceAdulteryDescription4 }}</p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.whatThisMeansReasonForDivorceSeparatedTwoYears }}</h3>
      <p class="govuk-body">{{ content.whatThisMeansReasonForDivorceSeparatedTwoYearsDescription1 }}</p>
      <p class="govuk-body">{{ content.whatThisMeansReasonForDivorceSeparatedTwoYearsDescription2 }}</p>
      <p class="govuk-body">{{ content.whatThisMeansReasonForDivorceSeparatedTwoYearsDescription3 }}</p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.whatThisMeansReasonForDivorceSeparatedFiveYears }}</h3>
      <p class="govuk-body">{{ content.whatThisMeansReasonForDivorceSeparatedFiveYearsDescription1 }}</p>
      <p class="govuk-body">{{ content.whatThisMeansReasonForDivorceSeparatedFiveYearsDescription2 }}</p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.whatThisMeansReasonForDivorceDesertion }}</h3>
      <p class="govuk-body">{{ content.whatThisMeansReasonForDivorceDesertionDescription1 }}</p>
      <p class="govuk-body">{{ content.whatThisMeansReasonForDivorceDesertionDescription2 }}</p>
      <p class="govuk-body">{{ content.whatThisMeansReasonForDivorceDesertionDescription3 }}</p>
    </div>
  </details>

  <!-- EOF Reason for divorce -->

  <!-- Additional applications  -->

  <h2 class="govuk-heading-m">{{ content.additionalApplications }}</h2>

  <!-- Cost Orders -->

  <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.costOrder }}</h3>
  {% if session.originalPetition.claimsCosts == "Yes" %}
    {% if "respondent" in session.originalPetition.claimsCostsFrom and "correspondent" in session.originalPetition.claimsCostsFrom %}
      <p class="govuk-body">{{ content.claimingCostsFromRespondentCoRespondent }}</p>
    {% elseif "correspondent" in session.originalPetition.claimsCostsFrom %}
      <p class="govuk-body">{{ content.claimingCostsFromCoRespondent }}</p>
    {% else %}
      <p class="govuk-body">{{ content.claimingCostsFromRespondent }}</p>
    {% endif %}
  {% else %}
    <p class="govuk-body">{{ content.notClaimingForDivorce }}</p>
  {% endif %}

  <details class="govuk-details">
    <summary class="govuk-details__summary" aria-controls="details-content-4" aria-expanded="false">
      <span class="govuk-details__summary-text">{{ content.helpWithCostOrders }}</span>
    </summary>
    <div class="govuk-details__text" id="details-content-4" aria-hidden="true">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.claimingCosts }}</h3>
      <p class="govuk-body">{{ content.claimingCostsPar1 }}</p>
      <p class="govuk-body">{{ content.claimingCostsPar2 }}</p>
    </div>
  </details>

  <!-- EOF Cost Orders -->

  <!-- Financial Orders -->

  <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.financialOrders }}</h3>

  {% if session.originalPetition.financialOrder == "Yes" %}
    {% if "petitioner" in session.originalPetition.financialOrderFor and "children" in session.originalPetition.financialOrderFor %}
      <p class="govuk-body">{{ content.financialOrdersPropertyMoneyPensionsChildren }}</p>
    {% elseif "children" in session.originalPetition.financialOrderFor %}
      <p class="govuk-body">{{ content.financialOrdersChildren }}</p>
    {% else %}
      <p class="govuk-body">{{ content.financialOrdersPropertyMoneyPensions }}</p>
    {% endif %}
  {% else %}
    <p class="govuk-body">{{ content.financialOrdersNone }}</p>
  {% endif %}

  <details class="govuk-details">
    <summary class="govuk-details__summary" aria-controls="details-content-5" aria-expanded="false">
      <span class="govuk-details__summary-text">{{ content.helpWithFinancialOrders }}</span>
    </summary>
    <div class="govuk-details__text" id="details-content-5" aria-hidden="true">
      <p class="govuk-body">{{ content.helpWithFinancialOrdersPar1 }}</p>
      <p class="govuk-body">{{ content.helpWithFinancialOrdersPar2 }}</p>
      <p class="govuk-body">{{ content.helpWithFinancialOrdersPar3 }}</p>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.consentOrders }}</h3>
      <p class="govuk-body">{{ content.consentOrdersPar1 }}</p>
      <p class="govuk-body">{{ content.consentOrdersPar2 }}</p>
      <p class="govuk-body">{{ content.consentOrdersPar3 }}</p>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.ordersForChildMaintenance }}</h3>
      <p class="govuk-body">{{ content.ordersForChildMaintenancePar }}</p>
    </div>
  </details>

  <!-- EOF Financial Orders -->

  <!-- EOF Additional applicationss -->

  <!-- Petitioner Address -->

  {% if session.originalPetition.petitionerContactDetailsConfidential == "share" %}
    <h2 class="govuk-heading-m">{{ content.petitionerCorrespondenceAddressHeading }}</h2>

    {% if session.originalPetition.respondentSolicitorName and session.originalPetition.respondentSolicitorName !== '' and not(session.originalPetition.petitionerHomeAddress|length) %}
      <p class="govuk-body">{{ petitionersSolicitorName }}</p>
      <p class="govuk-body">{{ petitionersSolicitorFirm }}</p>
      <p class="govuk-body">{{ petitionersSolicitorAddress }}</p>
    {% else %}
      <p class="govuk-body">{{ session.originalPetition.petitionerCorrespondenceAddress.address | address | safe }}</p>
    {% endif %}
  {% endif %}

  <!-- EOF Petitioner Address -->

  <!-- Respondent Address -->

  <h2 class="govuk-heading-m">{{ content.respondentCorrespondenceAddressHeading }}</h2>
  {% if session.originalPetition.respondentSolicitorAddress and session.originalPetition.respondentSolicitorName  %}
    <p class="govuk-body">{{ session.originalPetition.respondentSolicitorName }}</p>
    <p class="govuk-body">{{ session.originalPetition.respondentSolicitorCompany }}</p>
    <p class="govuk-body">{{ session.originalPetition.respondentSolicitorAddress.address | address | safe }}</p>
  {% else %}
    <p class="govuk-body">{{ session.originalPetition.respondentCorrespondenceAddress.address | address | safe }}</p>
  {% endif %}

  <!-- EOF Respondent Address -->

  <!-- CoRespondent Address -->

  {% if session.originalPetition.reasonForDivorceAdultery3rdAddress|length %}
    <h2 class="govuk-heading-m">{{ content.coRespondentsCorrespondenceAddress }}</h2>
    <p class="govuk-body">{{ session.originalPetition.reasonForDivorceAdultery3rdAddress.address | address | safe }}</p>
  {% endif %}

  <!-- EOF CoRespondent Address -->

  <h3 class="govuk-heading-m">{{ content.statementOfTruth }}</h3>
  <p class="govuk-body">"{{ content.statementOfTruthParagraph | safe }}"</p>
  <p class="govuk-body">
    <em>{{ session.originalPetition.petitionerFirstName }} {{ session.originalPetition.petitionerLastName }}</em>
  </p>

  <h3 class="govuk-heading-l">{{ content.acknowledgement }}</h3>

  <div class="confirmation-container" id="review-application-wrap">
    {% call formSection() %}
      {{
        selectionButtons(
          fields.respConfirmReadPetition,
          content.statementOfTruth,
          options = [
            { label: content.fields.statementOfTruth.yes, value: "Yes" }
          ],
          hint=false,
          hideQuestion=true,
          inline=false,
          type='checkbox',
          class='confirmation-container'
        )
      }}
    {% endcall %}
    {{ warningText({
        text: content.youWillBeAbleToRespond,
        iconFallbackText: content.hiddenWarning
    }) }}
  </div>
{% endblock %}
