{% extends "page.njk" %}

{% from "look-and-feel/components/document-list.njk" import documentList %}
{% from "look-and-feel/components/warning-text.njk" import warningText %}

{% block back %}
{% endblock %}

{% set title %}
    {{ content.title | safe }}
{% endset %}

{% block main_content %}
    <p class="govuk-body-s">
        <strong class="govuk-!-font-size-16">{{ content.details.referenceNumber }}
            :</strong>&nbsp;&nbsp;&nbsp; {{ session.originalPetition.caseReference }}<br>
        <strong class="govuk-!-font-size-16">{{ content.details.name }}:</strong> &nbsp;&nbsp;
      {{ session.originalPetition.reasonForDivorceAdultery3rdPartyFirstName | safe }} {{ session.originalPetition.reasonForDivorceAdultery3rdPartyLastName | safe }}
    </p>

    {% set progressBarContent = getProgressBarContent() %}

    {% if  progressBarContent === progressStates.notDefending %}
        <h2 class="govuk-heading-m">{{ content.notDefending.heading }}</h2>
        <p class="govuk-body">{{ content.notDefending.info }}</p>

        <h2 class="govuk-heading-m">{{ content.helpHeading }}</h2>
        <p class="govuk-body">{{ content.helpContent | safe }}</p>

        <h2 class="govuk-heading-m">{{ content.improveHeading }}</h2>
        <p class="govuk-body">{{ content.improveContent | safe }}</p>
    {% endif %}

    {% if  progressBarContent === progressStates.defendingAwaitingAnswer %}
        <h2 class="govuk-heading-m">{{ content.defendingAwaitingAnswer.heading }}</h2>
        <p class="govuk-body">{{ content.defendingAwaitingAnswer.para1 | safe }}</p>
        <p class="govuk-body">{{ content.defendingAwaitingAnswer.para2 | safe }}</p>
        <p class="govuk-body">{{ content.defendingAwaitingAnswer.para3 | safe }}</p>
        <ul class="govuk-list govuk-list--bullet govuk-!-font-weight-bold">
            {% if session.serviceCentreName %}
                <li>{{ session.serviceCentreName }}</li>
            {% endif %}

            <li>{{ content.careOfAbbreviation if session.serviceCentreName }} {{ session.divorceCenterName }}</li>

            {% if session.divorceCenterPoBox %}
                <li>{{ session.divorceCenterPoBox }}</li>
            {% endif %}
            {% if session.divorceCenterStreet %}
                <li>{{ session.divorceCenterStreet }}</li>
            {% endif %}
            <li>{{ session.divorceCenterCourtCity }}</li>
            <li>{{ session.divorceCenterPostCode }}</li>
        </ul>
        <p class="govuk-body">{{ content.defendingAwaitingAnswer.para4 | safe }}</p>
        <p class="govuk-body">{{ content.defendingAwaitingAnswer.para5 | safe }}</p>
        <p class="govuk-body">{{ content.defendingAwaitingAnswer.para6 | safe }}</p>

        <h2 class="govuk-heading-m">{{ content.helpHeading }}</h2>
        <p class="govuk-body">{{ content.helpContent | safe }}</p>

        <h2 class="govuk-heading-m">{{ content.improveHeading }}</h2>
        <p class="govuk-body">{{ content.improveContent | safe }}</p>
    {% endif %}

    {% if  progressBarContent === progressStates.defendingSubmittedAnswer %}
        <h2 class="govuk-heading-m">{{ content.defendingSubmittedAnswer.heading }}</h2>
        <p class="govuk-body">{{ content.defendingSubmittedAnswer.para1 }}</p>
        <p class="govuk-body">{{ content.defendingSubmittedAnswer.para2 }}</p>
        <p class="govuk-body">{{ content.defendingSubmittedAnswer.para3 }}</p>
    {% endif %}

    {% if  progressBarContent === progressStates.tooLateToRespond %}
        <h2 class="govuk-heading-m">{{ content.tooLateToRespond.heading }}</h2>
        <p class="govuk-body">{{ content.tooLateToRespond.info }}</p>
    {% endif %}

    {% if  progressBarContent === progressStates.awaitingPronouncementHearingDate %}
        <h2 class="govuk-heading-m">{{ content.awaitingPronouncementHearingDate.title }}</h2>
        <p class="govuk-body">{{ content.awaitingPronouncementHearingDate.districtJudge }}</p>
        {% if coRespondentPaysCosts %}
            <p class="govuk-body">{{ content.awaitingPronouncementHearingDate.orderPayDivorceCosts }}</p>
        {% endif %}
        <div class="govuk-inset-text">
            <p class="govuk-body">{{ content.awaitingPronouncementHearingDate.divorceOnlyComplete }}</p>
        </div>

        <h2 class="govuk-heading-m">{{ content.awaitingPronouncementHearingDate.theHearing }}</h2>
        <p class="govuk-body">{{ content.awaitingPronouncementHearingDate.findMoreDetails | safe }}</p>
        {% if coRespondentPaysCosts %}
            {{ warningText({
              text: content.awaitingPronouncementHearingDate.wantToObject,
              iconFallbackText: content.awaitingPronouncementHearingDate.warning
            }) }}
        {% endif %}

        {% set hearingText = content.awaitingPronouncementHearingDate.attendTheHearing | string %}
        {% if coRespondentPaysCosts %}
          {% set hearingText = content.awaitingPronouncementHearingDate.attendTheHearing | string + content.awaitingPronouncementHearingDate.attendTheHearingCosts | string %}
        {% endif %}

        {{ warningText({
          text: hearingText,
          iconFallbackText: content.awaitingPronouncementHearingDate.warning
        }) }}
    {% endif %}

{% endblock %}

{% block one_third %}
    {% include "includes/sideMenuCoRespondent.html" %}
{% endblock %}