<link href="{{ asset_path }}main.css" media="screen" rel="stylesheet" />
<script type="text/javascript" src="{{ asset_path }}main.js"></script>

{% if googleAnalyticsId %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{googleAnalyticsId}}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{googleAnalyticsId}}', { 'anonymize_ip': true });
  </script>
{% endif %}
