  <div class="report-error">
    <details class="govuk-details">
      <summary class="govuk-body-s" aria-controls="details-content-6" aria-expanded="false">
          <span class="govuk-details__summary-text">{{ content.isThereAProblemWithThisPage }}</span>
      </summary>
      <div class="panel panel-border-narrow" id="details-content-6" aria-hidden="true">
        <p class="govuk-body">{{ content.isThereAProblemWithThisPageParagraph }}</p>

        <p class="govuk-body">{{ content.isThereAProblemWithThisPagePhone }}</p>

        <p class="govuk-body">{{ content.isThereAProblemWithThisPageEmail }}</p>
      </div>
    </details>
  </div>