<details class="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text govuk-!-font-size-16">{{ content.isThereAProblemWithThisPage | safe }}</span>
    </summary>
    <div class="govuk-details__text">
        <p class="govuk-body">{{ content.isThereAProblemWithThisPageParagraph | safe }}</p>
        <p class="govuk-body">{{ content.isThereAProblemWithThisPagePhone | safe }}</p>
        <p class="govuk-body">{{ content.isThereAProblemWithThisPageEmail | safe }}</p>
    </div>
</details>
