{% extends "question.njk" %}

{% from "look-and-feel/components/fields.njk" import formSection, selectionButtons, textbox %}

{% set title %}
    {{ content.title | safe }}
{% endset %}

{% block fields %}

    <div id="contact-details">

        <section class="email">
            <h2 class="heading-medium">{{ content.contactMethods.email.heading }}</h2>
            <p class="text">
                {{ content.contactMethods.email.intro | safe }} <span class="bold-small">{{ coRespEmailAddress }}</span>.
            </p>

            {% call formSection() %}
                {{ selectionButtons(
                    fields.contactDetails.consent,
                    content.title,
                    options = [{
                        label: content.fields.email.label,
                        value: 'Yes'
                    }],
                    type='checkbox'
                ) }}
            {% endcall %}
        </section>

        <section class="telephone">
            <h2 class="heading-medium">{{ content.contactMethods.telephone.heading }}</h2>

            <p class="text">{{ content.contactMethods.telephone.intro | safe }}</p>

            {% call formSection() %}
                {{ textbox(
                    fields.contactDetails.telephone,
                    content.fields.telephone.label,
                    hint=content.fields.telephone.hint) }}
            {% endcall %}
        </section>

        <section class="post">
            <h2 class="heading-medium">{{ content.contactMethods.post.heading }}</h2>
            <p class="text">
                {{ content.contactMethods.post.intro | safe }}
            </p>
        </section>
    </div>

{% endblock %}
