{% extends "question.njk" %}

{% from "look-and-feel/components/fields.njk" import formSection, selectionButton, errorsFor, textarea, errorClass %}

{% set title %}
{{ content.title | safe }}
{% endset %}

{% block fields %}

<div id="agree-to-pay-costs">
  <p>{{ content.summary | safe }}</p>

  <div class="notice-padding">
    <div class="notice">
      <i class="icon icon-important">
        <span class="visually-hidden">Warning</span>
      </i>
      <strong class="bold-small">
        {{ content.notice | safe }}
      </strong>
    </div>
  </div>

  <details>
    <summary>
      <span class="summary">{{ content.info.heading | safe }}</span>
    </summary>

    <div class="panel panel-border-narrow">
      <h2 class="heading-small">{{ content.info.options.amountToPay.heading | safe }}</h2>
      <p class="text">{{ content.info.options.amountToPay.summary1 | safe }}</p>
      <p class="text">{{ content.info.options.amountToPay.summary2 | safe }}</p>

      <h2 class="heading-small">{{ content.info.options.whatNow.heading | safe }}</h2>
      <p class="text">{{ content.info.options.whatNow.summary1 | safe }}</p>
      <p class="text">{{ content.info.options.whatNow.summary2 | safe }}</p>
      <p class="text">{{ content.info.options.whatNow.summary3 | safe }}</p>

      <h2 class="heading-small">{{ content.info.options.doNotAcceptCost.heading | safe }}</h2>
      <p class="text">{{ content.info.options.doNotAcceptCost.summary | safe }}</p>
    </div>
  </details>

  <h2 class="heading-medium">{{ content.question | safe }}</h2>

  {% call formSection() %}
    <div class="form-group {{ errorClass(fields.crAgreeToPayCosts.agree) }}">

      {{ errorsFor(fields.crAgreeToPayCosts.agree) }}

      {{ selectionButton(fields.crAgreeToPayCosts.agree,
          option =
            { label: content.fields.agree.heading, value: "Yes" },
          type='radio'
        )
      }}

      {{ selectionButton(fields.crAgreeToPayCosts.agree,
          option =
            { label: content.fields.disagree.heading, value: "No", target: "do-not-accept" },
          type='radio'
        )
      }}

      <div id="do-not-accept" class="form-group panel js-hidden">
        {{ textarea(fields.crAgreeToPayCosts.noReason, content.fields.disagree.reason) }}
      </div>
    </div>
  {% endcall %}
</div>
{% endblock %}
