{% extends "page.njk" %}

{% block back %}
{% endblock %}

{% set title  %}
  {{ content.title | safe }}
{% endset %}

{% block main_content %}
  <p class="font-xsmall">
    <strong class="bold-xsmall">{{ content.referenceNumber }}:</strong>&nbsp;&nbsp;&nbsp; {{ session.referenceNumber }}<br>
    <strong class="bold-xsmall">{{ content.name }}:</strong> &nbsp;&nbsp; {{ session.originalPetition.marriageRespondentName }}
  </p>

  {% set items = {
      one: {
        label: content.husbandWifeApplied,
        complete: true
      },
      two: {
        label: content.youMustRespond,
        current: true
      },
      three: {
        label: content.getDecreeNisi
      },
      four: {
        label: content.madeFinal
      }
    }
  %}
  {% include "reform-progress-list/template.njk" %}

  <h2 class="heading-medium">{{ content.respondToApplication }}</h2>

  <p>{{ content.readApplication }}</p>
  <div class="panel panel-border-wide">
    <p>{{ content.responseAcknowledgement }}</p>
  </div>
  <p>{{ content.respond7Days }}</p>

  <form action="{{ postUrl | default(path if path else url) }}" method="post" class="form">

    <input class="button button-start" type="submit" value="{{ content.continue }}">
  </form>
<br>
<br>
  <details>
    <summary aria-controls="details-content-0" aria-expanded="false">
      <span class="summary">{{ content.seeAvgerageTimes }}</span>
    </summary>

    <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
      <p class="font-xsmall">{{ content.seeAvgDivTimesHeading }}</p>

      <table>
        <thead>
          <tr>
            <th class="bold font-xsmall">{{ content.seeAvgDivTimesWhatHappens }}</th>
            <th class="bold font-xsmall">{{ content.seeAvgDivTimesHowLong }}</th>
          </tr>
        </thead>
        <tbody class="table--borderless">
          <tr>
            <td class="font-xsmall">{{ content.seeAvgDivTimesYouHave }}</td>
            <td class="font-xsmall">{{ content.seeAvgDivTimes3W }}</td>
          </tr>
          <tr>
            <td class="font-xsmall">{{ content.seeAvgDivTimesDecreeNisi }}</td>
            <td class="font-xsmall">{{ content.seeAvgDivTimes3To4 }}</td>
          </tr>
          <tr>
            <td class="font-xsmall">{{ content.seeAvgDivTimesWaitToApply }}</td>
            <td class="font-xsmall">{{ content.seeAvgDivTimes6Weeks }}</td>
          </tr>
          <tr>
            <td class="font-xsmall">{{ content.seeAvgDivTimesDivorceGranted }}</td>
            <td class="font-xsmall">{{ content.seeAvgDivTimes2WorkingDays }}</td>
          </tr>
        </tbody>
      </table>

      <p class="font-xsmall">{{ content.seeAvgDivTimesCanVary }}</p>
    </div>
  </details>

{% endblock %}

{% block one_third %}
  <aside class="govuk-related-items" role="complementary">

    <h3 class="heading-small">{{ content.yourCourt }}</h3>

    <ul class="font-xsmall">
      <li>{{ session.divorceCenterName }}</li>
      <li>
        <strong class="bold-xsmall">{{ content.email }}</strong><br>
        {{ content.emailAddressDivorceService }}
        <br>
      </li>
      <li>
        <strong class="bold-xsmall">{{ content.phone }}</strong><br>
        {{ content.divorceCenterPhone }}<br>
        {{ content.divorceCenterHours }}<br>
      </li>
    </ul>

    <h3 class="heading-small" id="subsection-title">{{ content.guidence }}</h3>

    <nav role="navigation" aria-labelledby="subsection-title">
      <ul class="font-xsmall">
        <li>{{ content.decreeNisiLink | safe }}</li>
        <li>{{ content.decreeAbsoluteLink | safe }}</li>
        <li>{{ content.childrenAndDivorceLink | safe }}</li>
        <li>{{ content.moneyAndPropertyLinky | safe }}</li>
     </ul>
    </nav>
  </aside>
{% endblock %}