{% set footerLinks = [
    {
        href: "/cookie",
        text: content.cookies
    },
    {
        href: "/privacy-policy",
        text: content.privacyPolicy
    },
    {
        href: "/accessibility-statement",
        text: content.accessibility
    },
    {
        href: "/terms-and-conditions",
        text: content.termsAndConditions
    }
] %}

{% if isLoggedIn %}
  {% set serviceLinks = [
      {
        href: "/end",
        text: content.signOut
      }
  ] %}
{% endif %}

{% set serviceName = content.serviceName %}

{% extends "look-and-feel/layouts/check_your_answers.html" %}

{% block head %}
    {% include "includes/head.html" %}
{% endblock %}
