{% set footerLinks = [
    {
        href: "/cookies",
        text: content.cookies
    },
    {
        href: "/privacy-policy",
        text: content.privacyPolicy
    },
    {
        href: "/accessibility-statement",
        text: content.accessibility
    },
    {
        href: "/terms-and-conditions",
        text: content.termsAndConditions
    }
] %}

{% if isLoggedIn %}
  {% set serviceLinks = serviceLinks or [
      {
        href: "/end",
        text: content.signOut
      }
  ] %}
{% endif %}

{% set serviceName = content.serviceName %}

{% extends "look-and-feel/layouts/two_thirds.html" %}

{% from "look-and-feel/components/header.njk" import header %}
{% from "includes/phase_banner.html" import divPhaseBanner %}
{% from "back-link/macro.njk" import govukBackLink %}

{% block breadcrumbs %}
  {{ divPhaseBanner(phase, content.feedback, content.languageToggle, session) }}

  {% block back %}
    {{ govukBackLink({
      attributes: {
        onclick: "history.go(-1);"
      },
      text: content.backLink,
      href: "#"
    }) }}
  {% endblock %}
{% endblock %}

{% set titleSize = titleSize | default("xl") %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block bodyStart %}
  {% set serviceName = 'Divorce' %}
  <div id="global-cookie-message">
    {% include "includes/cookies/cookie-manager/cookie-banner.njk" %}
  </div>
  <noscript>
    <img src="/noJS.png" alt="1px" width="1" height="1" style="display: none;" />
  </noscript>
{% endblock %}

{% block two_thirds -%}
  {% block title %}
    {% if (title) %}
      {{ header(title, size=titleSize) }}
    {% endif %}
  {% endblock %}
  {% block main_content %}
  {% endblock %}
  <div>
  {% block problems_with_this_page -%}
    {% include "includes/problem_with_this_page.html" %}
  {%- endblock %}
  </div>
{%- endblock %}

{% block one_third -%}
  {% block side_content %}{% endblock %}
{%- endblock %}

{% block footer %}
  {{ super() }}
  <script type="text/javascript" src="{{ asset_path }}main.js"></script>
{% endblock %}
