{% set footerLinks = [
    {
        href: "/cookie",
        text: "Cookies"
    },
    {
        href: "/terms-and-conditions",
        text: "Terms and conditions"
    },
    {
        href: "/privacy-policy",
        text: "Privacy Policy"
    }
] %}

{% if isLoggedIn %}
  {% set serviceLinks = serviceLinks or [
      {
        href: "/end",
        text: "Sign out"
      }
  ] %}
{% endif %}

{% set serviceName = content.serviceName %}

{% extends "look-and-feel/layouts/two_thirds.html" %}

{% from "look-and-feel/components/header.njk" import header %}
{% from "look-and-feel/components/phase_banner.njk" import phaseBanner %}
{% from "look-and-feel/components/i18n.njk" import languageSwitch %}
{% from "back-link/macro.njk" import govukBackLink %}

{% block breadcrumbs %}
  {{ phaseBanner(phase, feedbackLink) }}
  {% block back %}
    {{ govukBackLink({
      attributes: {
        onclick: "history.go(-1);"
      },
      text: "Back",
      href: "#"
    }) }}
  {% endblock %}
  {{ languageSwitch(currentLang, availableLangs) }}
{% endblock %}

{% set titleSize = titleSize | default('xl') %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block bodyStart %}
  <noscript>
    <img src="/noJS.png" alt="1px" width="1" height="1" style="display: none;" />
  </noscript>
{% endblock %}

{% block two_thirds -%}
  {% block title %}
    {% if (title) %}
      {{ header(title, size=titleSize) }}
    {% endif %}
  {% endblock %}
  {% block main_content %}
  {% endblock %}
  <div>
  {% block problems_with_this_page -%}
    {% include "includes/problem_with_this_page.html" %}
  {%- endblock %}
  </div>
{%- endblock %}

{% block one_third -%}
  {% block side_content %}{% endblock %}
{%- endblock %}
