{% extends "look-and-feel/layouts/question.html" %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block body_start %}
    <noscript>
        <img src="/noJS.png" alt="1px" width="1" height="1" style="display: none;" />
    </noscript>
{% endblock %}

{% block proposition_header %}
  {% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block footer_support_links %}
  <ul>
    <li><a href="/cookie">Cookies</a></li>
    <li><a href="/terms-and-conditions">Terms and conditions</a></li>
    <li><a href="/privacy-policy">Privacy Policy</a></li>
  </ul>
{% endblock %}

{% block after_form %}
    {% include "includes/problem_with_this_page.html" %}
{% endblock %}