{% set footerLinks = [
    {
        href: "/cookies",
        text: content.cookies
    },
    {
        href: "/privacy-policy",
        text: content.privacyPolicy
    },
    {
        href: "/accessibility-statement",
        text: content.accessibility
    },
    {
        href: "/terms-and-conditions",
        text: content.termsAndConditions
    }
] %}

{% if isLoggedIn %}
  {% set serviceLinks = [
      {
        href: "/end",
        text: content.signOut
      }
  ] %}
{% endif %}

{% set serviceName = content.serviceName %}

{% extends "look-and-feel/layouts/question.html" %}

{% from "includes/phase_banner.html" import divPhaseBanner %}
{% from "back-link/macro.njk" import govukBackLink %}
{% from "look-and-feel/components/warning-text.njk" import warningText %}

{% block breadcrumbs %}
  {{ divPhaseBanner(phase, content.feedback, content.languageToggle, session) }}

  {% block back %}
    {{ govukBackLink({
      attributes: {
        onclick: "history.go(-1);"
      },
      text: content.backLink,
      href: "#"
    }) }}
  {% endblock %}
    {{ warningText({
        text: "Please note that due to a technical error some users may have received a copy of an old petition and acknowledgement of service pack. If the same divorce case number has already concluded with a Decree Absolute, or you have already responded to this, please rely on your portal to confirm the latest position.",
        iconFallbackText: "Information"
     }) }}
{% endblock %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block bodyStart %}
  {% set serviceName = 'Divorce' %}
  {% if features.dynatrace %}
  <div id="global-cookie-message">
    {% include "includes/cookies/cookie-manager/cookie-banner.njk" %}
  </div>
  {% endif %}
  <noscript>
    <img src="/noJS.png" alt="1px" width="1" height="1" style="display: none;" />
  </noscript>
{% endblock %}

{% block after_form %}
    {% include "includes/problem_with_this_page.html" %}
{% endblock %}

{% set continueText = content.continue | safe %}

{% block footer %}
  {{ super() }}
  <script type="text/javascript" src="{{ asset_path }}main.js"></script>
{% endblock %}
