{% set footerLinks = [
    {
        href: "/cookie",
        text: content.cookies
    },
    {
        href: "/privacy-policy",
        text: content.privacyPolicy
    },
    {
        href: "/accessibility-statement",
        text: content.accessibility
    },
    {
        href: "/terms-and-conditions",
        text: content.termsAndConditions
    }
] %}

{% if isLoggedIn %}
  {% set serviceLinks = [
      {
        href: "/end",
        text: content.signOut
      }
  ] %}
{% endif %}

{% set serviceName = content.serviceName %}

{% extends "look-and-feel/layouts/question.html" %}

{% from "includes/phase_banner.html" import divPhaseBanner %}
{% from "back-link/macro.njk" import govukBackLink %}

{% block breadcrumbs %}
  {{ divPhaseBanner(phase, content.feedback, content.languageToggle) }}

  {% block back %}
    {{ govukBackLink({
      attributes: {
        onclick: "history.go(-1);"
      },
      text: content.backLink,
      href: "#"
    }) }}
  {% endblock %}
{% endblock %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block bodyStart %}
    <noscript>
        <img src="/noJS.png" alt="1px" width="1" height="1" style="display: none;" />
    </noscript>
{% endblock %}

{% block after_form %}
    {% include "includes/problem_with_this_page.html" %}
{% endblock %}

{% set continueText = content.continue | safe %}
