{% extends "question.njk" %}

{% from "look-and-feel/components/fields.njk" import formSection, selectionButton, errorsFor, textarea, errorClass %}
{% from "look-and-feel/components/warning-text.njk" import warningText %}

{% set title %}
{{ content.title | safe }}
{% endset %}

{% block fields %}

<div id="agree-to-pay-costs">
  <p class="govuk-body">{{ content.summary | safe }}</p>

  {{ warningText({
    text: content.notice,
    iconFallbackText: content.warning
  }) }}

  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">{{ content.info.heading | safe }}</span>
    </summary>

    <div class="govuk-details__text">
      <h2 class="govuk-heading-s">{{ content.info.options.amountToPay.heading | safe }}</h2>
      <p class="govuk-body">{{ content.info.options.amountToPay.summary1 | safe }}</p>
      <p class="govuk-body">{{ content.info.options.amountToPay.summary2 | safe }}</p>

      <h2 class="govuk-heading-s">{{ content.info.options.whatNow.heading | safe }}</h2>
      <p class="govuk-body">{{ content.info.options.whatNow.summary1 | safe }}</p>
      <p class="govuk-body">{{ content.info.options.whatNow.summary2 | safe }}</p>
      <p class="govuk-body">{{ content.info.options.whatNow.summary3 | safe }}</p>

      <h2 class="govuk-heading-s">{{ content.info.options.doNotAcceptCost.heading | safe }}</h2>
      <p class="govuk-body">{{ content.info.options.doNotAcceptCost.summary | safe }}</p>
    </div>
  </details>

  <h2 class="govuk-heading-m">{{ content.question | safe }}</h2>

  {% call formSection() %}
    <div class="form-group {{ errorClass(fields.crAgreeToPayCosts.agree) }}">

      {{ errorsFor(fields.crAgreeToPayCosts.agree) }}

      {{ selectionButton(fields.crAgreeToPayCosts.agree,
          option =
            { label: content.fields.agree.heading, value: "Yes" },
          type='radio'
        )
      }}

      {{ selectionButton(fields.crAgreeToPayCosts.agree,
          option =
            { label: content.fields.disagree.heading, value: "No", target: "do-not-accept" },
          type='radio'
        )
      }}

      <div id="do-not-accept" class="form-group panel js-hidden">
        {{ textarea(fields.crAgreeToPayCosts.noReason, content.fields.disagree.reason) }}
      </div>
    </div>
  {% endcall %}

  <br>
</div>
{% endblock %}
