{% set footerLinks = [
    {
        href: "/cookie",
        text: "Cookies"
    },
    {
        href: "/terms-and-conditions",
        text: "Terms and conditions"
    },
    {
        href: "/privacy-policy",
        text: "Privacy Policy"
    }
] %}

{% extends "look-and-feel/layouts/error.html" %}
{% from "back-link/macro.njk" import govukBackLink %}

{% block breadcrumbs %}
{{ phaseBanner(phase, feedbackLink) }}
{{ languageSwitch(i18n.currentLanguage, i18n.availableLanguages) }}
{{ govukBackLink({
  attributes: {
    onclick: "history.go(-1);"
  },
  text: "Back",
  href: "#"
}) }}
{% endblock %}

{% block two_thirds -%}
    {{ header(title, size='xl') }}

    <p class="govuk-body"> {{ message }} </p>

    {% if nextSteps %}
        <p class="govuk-body">You can either:</p>
        <ul class="govuk-list govuk-list--bullet">
        {% for option in nextSteps %}
            <li>{{ option | safe }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if error %}
        {% if (settings.env != 'prod') and (settings.env != 'production') %}
        <div class="govuk-form-group--error">
            <label class="govuk-error-message">
                <span class="form-label-bold">Error Message</span>
                <span class="form-hint">The error message will <strong>NOT</strong> display in production mode</span>
                <span>{{ error }}</span>
            </label>
        </div>
        {% endif %}
    {% endif %}
{% endblock %}