{% extends "look-and-feel/layouts/error.html" %}
{% from "back-link/macro.njk" import govukBackLink %}
{% from "includes/phase_banner.html" import divPhaseBanner %}
{% from "footer/macro.njk" import govukFooter %}

{% block breadcrumbs %}
  {{ divPhaseBanner(phase, message.feedback) }}

  {{ govukBackLink({
    attributes: {
      onclick: "history.go(-1);"
    },
    text: message.backLink,
    href: "#"
  }) }}
{% endblock %}

{% block two_thirds -%}
    {{ header(title, size="xl") }}

    <p class="govuk-body">{{ message }}</p>

    {% if nextSteps %}
        <p class="govuk-body">You can either:</p>
        <ul class="govuk-list govuk-list--bullet">
        {% for option in nextSteps %}
            <li>{{ option | safe }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if error %}
        {% if (settings.env != "prod") and (settings.env != "production") %}
        <div class="govuk-form-group--error">
            <label class="govuk-error-message">
                <span class="form-label-bold">Error Message</span>
                <span class="form-hint">The error message will <strong>NOT</strong> display in production mode</span>
                <span>{{ error }}</span>
            </label>
        </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "/cookie",
          text: content.cookies
        },
        {
          href: "/privacy-policy",
          text: content.privacyPolicy
        },
        {
          href: "/accessibility-statement",
          text: content.accessibility
        },
        {
          href: "/terms-and-conditions",
          text: content.termsAndConditions
        }
      ]
    }
  }) }}
{% endblock %}
