{% extends "page.njk" %}

{% block back %} {% endblock %}

{% set title %}
{{ content.title }}
{% endset %}

{% block main_content %}
<p class="govuk-body">{{ content.info }}</p>
<h2 class="govuk-heading-m">{{ content.contactTitle }}</h2>
<p class="govuk-body">
  <strong>{{ content.email }}: </strong>
  <a class="govuk-link" href="mailto:{{ content.divorceEmail }}" aria-label="{{ content.email }}, this link opens a new email.">{{ content.divorceEmail | safe }}</a><br>
</p>
<p class="govuk-body">
  <strong>{{ content.phone }}: </strong>
  {{ content.phoneNumber | safe }} {{ content.openTimes | safe}}<br>
</p>
{% endblock %}
