{% extends "question.njk" %}

{% from "look-and-feel/components/fields.njk" import formSection, selectionButtons %}
{% from "look-and-feel/components/warning-text.njk" import warningText %}

{% set title %}
    {{ content.title | safe }}
{% endset %}

{% block fields %}

    <div id="confirm-defence">

        <p class="govuk-body">{{ content.defenceFeeDetails | safe }}</p>

        {{ warningText({
          text: content.legalAdviceWarn,
          iconFallbackText: content.warning
        }) }}

        <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">{{ content.info.readMore | safe }}</span>
            </summary>
            <div class="govuk-details__text">
                <h4 class="govuk-heading-s">{{ content.info.summary1 | safe }}</h4>
                <p class="govuk-body">{{ content.info.summary2 | safe }}</p>
            </div>
        </details>

        {% call formSection() %}
            {{ selectionButtons(fields.response, content.title,
                options = [
                    { label: content.fields.confirm.label, value: const.confirm },
                    { label: content.fields.changeResponse.label, value: const.changeResponse }
                ],
                hint=false,
                hideQuestion=true,
                inline=false,
                type='radio'
            ) }}
        {% endcall %}
    </div>

{% endblock %}
