{% extends "page.njk" %}

{% block back %} {% endblock %}

{% set title %}
{{ content.title }}
{% endset %}

{% block main_content %}
<p class="govuk-body">{{ content.thisPage | safe }}</p>

<h2 class="govuk-heading-m">{{ content.whoWeAre | safe }}</h2>
<p class="govuk-body">{{ content.managedBy | safe }}</p>
<p class="govuk-body">{{ content.update | safe }}</p>

<h2 class="govuk-heading-m">{{ content.info | safe }}</h2>
<p class="govuk-body">{{ content.service | safe }}</p>
<p class="govuk-body">{{ content.answer | safe }}</p>

<h2 class="govuk-heading-m">{{ content.stored | safe }}</h2>
<p class="govuk-body">{{ content.data | safe }}</p>
<p class="govuk-body">{{ content.notifyEmails | safe }}</p>

<h2 class="govuk-heading-m">{{ content.applicationLaw | safe }}</h2>
<p class="govuk-body">{{ content.dispute | safe }}</p>
<ul class="govuk-list govuk-list--bullet">
    <li>{{ content.dispute1 | safe }}</li>
    <li>{{ content.dispute2 | safe }}</li>
    <li>{{ content.dispute3 | safe }}</li>
</ul>

<h2 class="govuk-heading-m">{{ content.responsible | safe }}</h2>
<p class="govuk-body">{{ content.designedForPeople | safe }}</p>
<p class="govuk-body">{{ content.risks | safe }}</p>
<p class="govuk-body">{{ content.precautions | safe }}</p>
<ul class="govuk-list govuk-list--bullet">
    <li>{{ content.precautions1 | safe }}</li>
    <li>{{ content.precautions2 | safe }}</li>
    <li>{{ content.precautions3 | safe }}</li>
</ul>
<p class="govuk-body">{{ content.knowinglyIntroducing | safe }}</p>
<p class="govuk-body">{{ content.containsSeveral | safe }}</p>

<h2 class="govuk-heading-m">{{ content.changes | safe }}</h2>
<p class="govuk-body">{{ content.checkTermsAndConditions | safe }}</p>
<p class="govuk-body">{{ content.agreeToChanges | safe }}</p>

<h2 class="govuk-heading-m">{{ content.contactUs | safe }}</h2>
<p class="govuk-body">{{ content.address | safe }}</p>
{% endblock %}