{% extends "page.njk" %}

{% block back %} {% endblock %}

{% set title %}
{{ content.title }}
{% endset %}

{% block main_content %}
<p class="text">{{ content.thisPage | safe }}</p>

<h2 class="heading-medium">{{ content.whoWeAre | safe }}</h2>
<p class="text">{{ content.managedBy | safe }}</p>
<p class="text">{{ content.update | safe }}</p>

<h2 class="heading-medium">{{ content.info | safe }}</h2>
<p class="text">{{ content.service | safe }}</p>
<p class="text">{{ content.answer | safe }}</p>

<h2 class="heading-medium">{{ content.stored | safe }}</h2>
<p class="text">{{ content.data | safe }}</p>
<p class="text">{{ content.notifyEmails | safe }}</p>

<h2 class="heading-medium">{{ content.applicationLaw | safe }}</h2>
<p class="text">{{ content.dispute | safe }}</p>
<ul class="list list-bullet">
    <li>{{ content.dispute1 | safe }}</li>
    <li>{{ content.dispute2 | safe }}</li>
    <li>{{ content.dispute3 | safe }}</li>
</ul>

<h2 class="heading-medium">{{ content.responsible | safe }}</h2>
<p class="text">{{ content.designedForPeople | safe }}</p>
<p class="text">{{ content.risks | safe }}</p>
<p class="text">{{ content.precautions | safe }}</p>
<ul class="list list-bullet">
    <li>{{ content.precautions1 | safe }}</li>
    <li>{{ content.precautions2 | safe }}</li>
    <li>{{ content.precautions3 | safe }}</li>
</ul>
<p class="text">{{ content.knowinglyIntroducing | safe }}</p>
<p class="text">{{ content.containsSeveral | safe }}</p>

<h2 class="heading-medium">{{ content.changes | safe }}</h2>
<p class="text">{{ content.checkTermsAndConditions | safe }}</p>
<p class="text">{{ content.agreeToChanges | safe }}</p>

<h2 class="heading-medium">{{ content.contactUs | safe }}</h2>
<p class="text">{{ content.address | safe }}</p>
{% endblock %}