{% extends "page.njk" %}

{% block back %}
{% endblock %}

{% set title %}
    {{ content.title | safe }}
{% endset %}

{% block main_content %}
    <p class="govuk-body-s">
        <strong class="govuk-!-font-size-16">{{ content.details.referenceNumber }}
            :</strong>&nbsp;&nbsp;&nbsp; {{ session.originalPetition.caseReference }}<br>
        <strong class="govuk-!-font-size-16">{{ content.details.name }}:</strong> &nbsp;&nbsp;
        {{ session.originalPetition.respondentFirstName }} {{ session.originalPetition.respondentLastName }}
    </p>

    {% include stateTemplate %}

    {% set progressBarContent = getProgressBarContent() %}

    {% if  progressBarContent === progressStates.progressedNoAos %}
        <h2 class="govuk-heading-m">{{ content.progressedNoAos.heading }}</h2>
        <p class="govuk-body">{{ content.progressedNoAos.info }}</p>
    {% endif %}

    {% if  progressBarContent === progressStates.progressedUndefended %}
        <h2 class="govuk-heading-m">{{ content.progressedUndefended.heading }}</h2>
        <p class="govuk-body">{{ content.progressedUndefended.info }}</p>

        <h2 class="govuk-heading-m">{{ content.helpHeading }}</h2>
        <p class="govuk-body">{{ content.helpContent | safe }}</p>

        <h2 class="govuk-heading-m">{{ content.improveHeading }}</h2>
        <p class="govuk-body">{{ content.improveContent | safe }}</p>
    {% endif %}

    {% if  progressBarContent === progressStates.awaitingAnswer %}
        <h2 class="govuk-heading-m">{{ content.awaitingAnswer.heading }}</h2>
        <p class="govuk-body">{{ content.awaitingAnswer.para1 | safe }}</p>
        <p class="govuk-body">{{ content.awaitingAnswer.para2 | safe }}</p>
        <p class="govuk-body">{{ content.awaitingAnswer.para3 | safe }}</p>
        <ul class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold">
            {% if session.serviceCentreName %}
                <li>{{ session.serviceCentreName }}</li>
            {% endif %}

            <li>{{ content.careOfAbbreviation if session.serviceCentreName }} {{ session.divorceCenterName }}</li>

            {% if session.divorceCenterPoBox %}
                <li>{{ session.divorceCenterPoBox }}</li>
            {% endif %}
            {% if session.divorceCenterStreet %}
                <li>{{ session.divorceCenterStreet }}</li>
            {% endif %}
            <li>{{ session.divorceCenterCourtCity }}</li>
            <li>{{ session.divorceCenterPostCode }}</li>
        </ul>
        <p class="govuk-body">{{ content.awaitingAnswer.para4 | safe }}</p>
        <p class="govuk-body">{{ content.awaitingAnswer.para5 | safe }}</p>
        <p class="govuk-body">{{ content.awaitingAnswer.para6 | safe }}</p>

        <h2 class="govuk-heading-m">{{ content.helpHeading }}</h2>
        <p class="govuk-body">{{ content.helpContent | safe }}</p>

        <h2 class="govuk-heading-m">{{ content.improveHeading }}</h2>
        <p class="govuk-body">{{ content.improveContent | safe }}</p>
    {% endif %}

    {% if  progressBarContent === progressStates.defendedDivorce %}
        <h2 class="govuk-heading-m">{{ content.defendedDivorce.heading }}</h2>
        <p class="govuk-body">{{ content.defendedDivorce.para1 }}</p>
        <p class="govuk-body">{{ content.defendedDivorce.para2 }}</p>
        <p class="govuk-body">{{ content.defendedDivorce.para3 }}</p>
        <p class="govuk-body">{{ content.defendedDivorce.para4 }}</p>
    {% endif %}

    {% if  progressBarContent === progressStates.other %}
        <br />
        <br />
        <p class="govuk-body">{{ content.other.heading }}</p>
    {% endif %}

{% endblock %}

{% block one_third %}
    <aside class="govuk-related-items" role="complementary">
        <h3 class="govuk-heading-s">{{ content.contactDetails.heading }}</h3>

        <ul class="govuk-body-s">
            <li>
                <strong class="govuk-!-font-size-16">{{ content.contactDetails.email }}</strong><br>
                {{ session.divorceCenterEmail | safe }}
                <br>
            </li>
            <li>
                <strong class="govuk-!-font-size-16">{{ content.contactDetails.phone }}</strong><br>
                {{ session.divorceCenterPhoneNumber | safe }}<br>
                {{ content.contactDetails.divorceCenterHours }}<br>
            </li>
            {% include "includes/sideMenuCourtDetails.html" %}
        </ul>

        {% include "includes/sideMenuGuidanceLinks.html" %}
    </aside>
{% endblock %}