#cya-confirmation-container {
  background: #dee0e2;
  padding: 25px;

  .list-bullet {
    padding-left: 88px;
  }

  details {
    padding-left: 72px;
  }

  .form-section {
    margin-bottom: 25px;
  }
}
