.confirmation-container {
  background: #dee0e2;
  padding: 25px;

  .list-bullet {
    padding-left: 70px;
  }

  details {
    padding-left: 54px;
  }

  .form-section {
    margin-bottom: 25px;
  }
}

.govuk-check-your-answers .cya-question {
  font-weight: normal;
}