#choose-a-response {

  details {
    margin-bottom: 10px;
  }

  .multiple-choice {
    border: 1px solid #dee0e2;
    padding: 11px 20px 8px 54px;
    background: #dee0e2;
    margin-bottom: 10px;
    &:hover {
      border: 1px solid #0b0c0c;
    }
    label {
      padding-left: 16px;
      font-weight: bold;
      span {
        font-weight: normal;
      }
    }
  }

  .multiple-choice [type=radio] + label::before {
    border: 2px solid;
    width: 34px;
    height: 34px;
    top: 18px;
    left: 15px;
  }

  .multiple-choice [type=radio] + label::after {
    border: 10px solid;
    width: 0;
    height: 0;
    top: 27px;
    left: 24px;
  }
}
