#choose-a-response {

  details {
    margin-bottom: 10px;
  }

  .govuk-radios__item {
    border: 1px solid #dee0e2;
    padding: 11px 20px 8px 54px;
    background: #dee0e2;
    margin-bottom: 10px;
    &:hover {
      border: 1px solid #0b0c0c;
    }
    label {
      padding-left: 16px;
      font-weight: bold;
    }

    .govuk-hint {
      color: #000000;
      display: block;
      font-weight: normal;
    }
  }

  .govuk-fieldset [type=radio] + label::before {
    border: 2px solid;
    width: 34px;
    height: 34px;
    top: 18px;
    left: 15px;
  }

  .govuk-fieldset [type=radio] + label::after {
    border: 10px solid;
    width: 0;
    height: 0;
    top: 25px;
    left: 22px;
  }
}
