#global-cookie-message {
  width: 100%;
  background-color: #d5e8f3;

  #cm_cookie_notification {
    padding: 20px 0;
  }

  #set-cookie-preferences {
    font-size: 19px;
  }

  .govuk-body, .govuk-grid-row, .govuk-button-group {
    margin-bottom: 10px !important;
  }

  .govuk-button {
    margin-right: 10px;
    margin-bottom: 0px;
  }

  p {
    margin: 0 !important;
  }
}

.cookies-policy-banner {
  display: none;
}

.cookies-policy-content {
  margin: 0;

  .govuk-notification-banner {
    border: 5px solid;
    margin-bottom: 20px;
    padding: 20px;
  }

  .govuk-notification-banner__heading {
    font-size: 23px;
    margin-top: 0px;
    font-family: "GDS Transport", arial, sans-serif;
  }

  .govuk-radios {
    margin-bottom: 40px;
  }
}
