#review-application-wrap {

  .form-group {
    margin-bottom: 0;
  }

  .notice {
    background: #dee0e2;
    padding: 4px 25px 25px 25px;

    .icon {
      left: 26px;
      top: 30%;
      margin-top: -17px;
    }
  }
}
