#review-application-wrap {

  .govuk-form-group {
    margin-bottom: 0;
  }

  .govuk-warning-text {
    font-weight: normal;
    background: #dee0e2;
    padding: 4px 25px 25px 25px;

    .govuk-warning-text__icon {
      left: 26px;
      top: 30%;
      margin-top: -17px;
    }
  }
}
