{% extends "page.njk" %}

{% block back %}{% endblock %}
{% block title %}{% endblock %}

{% block main_content %}

  <div class="govuk-box-highlight">

    <h1 class="bold-large">{{ content.responseSent }}</h1>

    <p class="text-reference">
      {{ content.referenceNumber }}<br>
      <strong class="text-reference-number">{{ session.referenceNumber | hypenate | safe }}</strong>
    </p>

  </div>

  {% set items = {
      one: {
        label: content.husbandWifeApplied,
        complete: true
      },
      two: {
        label: content.youMustRespond,
        complete: true
      },
      three: {
        label: content.getDecreeNisi,
        current: true
      },
      four: {
        label: content.madeFinal
      }
    }
  %}
  {% include "reform-progress-list/template.njk" %}
  {% block problems_with_this_page -%}
  {%- endblock %}
{% endblock %}

{% block one_third %}
  <aside class="govuk-related-items" role="complementary">

    <h3 class="heading-small">{{ content.yourCourt }}</h3>

    <ul class="font-xsmall">
      <li>{{ session.divorceCenterName }}</li>
      <li>
        <strong class="bold-xsmall">{{ content.email }}</strong><br>
        {{ content.emailAddressDivorceService }}
        <br>
      </li>
      <li>
        <strong class="bold-xsmall">{{ content.phone }}</strong><br>
        {{ content.divorceCenterPhone }}<br>
        {{ content.divorceCenterHours }}<br>
      </li>
    </ul>

    <h3 class="heading-small" id="subsection-title">{{ content.guidence }}</h3>

    <nav role="navigation" aria-labelledby="subsection-title">
      <ul class="font-xsmall">
        <li>{{ content.decreeNisiLink | safe }}</li>
        <li>{{ content.decreeAbsoluteLink | safe }}</li>
        <li>{{ content.childrenAndDivorceLink | safe }}</li>
        <li>{{ content.moneyAndPropertyLinky | safe }}</li>
     </ul>
    </nav>
  </aside>
{% endblock %}
