{% extends "page.njk" %}

{% block back %}{% endblock %}
{% block title %}{% endblock %}
{% block proposition_header %}
  <div class="header-proposition">
    <div class="content">
      <nav id="proposition-menu">
        <a href="/" id="proposition-name">
              {{ content.serviceName }}
        </a>
      </nav>
    </div>
  </div>
{% endblock %}

{% block main_content %}

  <div class="govuk-box-highlight">
    <h1 class="bold-large">{{ content.responseSent }}</h1>
    <p class="text-reference">
      {{ content.referenceNumber }}<br>
      <strong class="text-reference-number">{{ session.referenceNumber | hypenate | safe }}</strong>
    </p>
  </div>

  <p class="text">{{ content.emailConfirmation }} <span class="bold-small">{{ session.originalPetition.respEmailAddress | safe }}</span>
  </p>

  {% set items = {
      one: {
        label: content.husbandWifeApplied,
        complete: true
      },
      two: {
        label: content.youMustRespond,
        complete: true
      },
      three: {
        label: content.getDecreeNisi,
        current: true
      },
      four: {
        label: content.madeFinal
      }
    }
  %}
  {% include "reform-progress-list/template.njk" %}

  {% if session.ChooseAResponse.respDefendsDivorce == "no" %}
    <h2 class="heading-medium">{{ content.notDefendedHeading }}</h2>
    <p class"text">{{ content.notDefendedText1 }}</p>
    <p class"text">{{ content.notDefendedText2 }}</p>
    <ol class="list list-number">
      <li>{{ content.notDefendedListItem1 }}</li>
      <li>{{ content.notDefendedListItem2 }}</li>
    </ol>
    <p class"text">{{ content.notDefendedText3 }}</p>
    <p class"text">{{ content.notDefendedText4 }}</p>
    <p class="text">{{ content.notDefendedText5 }}</p>
  {% endif %}

  {% if session.ChooseAResponse.respDefendsDivorce == "yes" %}
    <h2 class="heading-medium">{{ content.defendedHeading }}</h2>
    <p class"text">{{ content.defendedText1 | safe }}</p>
    <p class"text">{{ content.defendedText2 }}</p>
    <p class"text">{{ content.defendedText3 }}</p>
    <ul class="list bold-small">
      <li>{{ session.divorceCenterName }}</li>
      <li>{{ session.divorceCenterPoBox }}</li>
      <li>{{ session.divorceCenterCourtCity }}</li>
      <li>{{ session.divorceCenterPostCode }}</li>
    </ul>
    <p class"text">{{ content.defendedText4 }}</p>
    <p class"text">{{ content.defendedText5 }}</p>
    <p class"text">{{ content.defendedText6 }}</p>
  {% endif %}

  <h2 class="heading-medium">{{ content.ifYouNeedHelp }}</h2>
  <p class"text">{{ content.ifYouNeedHelpText | safe }}</p>

  <h2 class="heading-medium">{{ content.helpImproveHeading }}</h2>
  <p class"text">{{ content.helpImproveText | safe }}</p>

  {% block problems_with_this_page -%}
  {%- endblock %}
{% endblock %}

{% block one_third %}
  <aside class="govuk-related-items" role="complementary">

    <h3 class="heading-small">{{ content.yourCourt }}</h3>

    <ul class="font-xsmall">
      <li>{{ session.divorceCenterName }}</li>
      <li>
        <strong class="bold-xsmall">{{ content.email }}</strong><br>
        {{ content.emailAddressDivorceService }}
        <br>
      </li>
      <li>
        <strong class="bold-xsmall">{{ content.phone }}</strong><br>
        {{ content.divorceCenterPhone }}<br>
        {{ content.divorceCenterHours }}<br>
      </li>
    </ul>

    <h3 class="heading-small" id="subsection-title">{{ content.guidence }}</h3>

    <nav role="navigation" aria-labelledby="subsection-title">
      <ul class="font-xsmall">
        <li>{{ content.decreeNisiLink | safe }}</li>
        <li>{{ content.decreeAbsoluteLink | safe }}</li>
        <li>{{ content.childrenAndDivorceLink | safe }}</li>
        <li>{{ content.moneyAndPropertyLinky | safe }}</li>
     </ul>
    </nav>
  </aside>
{% endblock %}
