{% extends "page.njk" %}

{% from "look-and-feel/components/progress-list.njk" import progressList %}

{% block back %}{% endblock %}
{% block title %}{% endblock %}
{% block proposition_header %}
  <div class="header-proposition">
    <div class="content">
      <nav id="proposition-menu">
        <a href="/" id="proposition-name">
              {{ content.serviceName }}
        </a>
      </nav>
    </div>
  </div>
{% endblock %}

{% block main_content %}

  <div class="govuk-box-highlight">
    <h1 class="bold-large">{{ content.responseSent }}</h1>
    <p class="text-reference">
      {{ content.referenceNumber }}<br>
      <strong class="text-reference-number">{{ session.originalPetition.caseReference | safe }}</strong>
    </p>
  </div>

  <p class="govuk-body">{{ content.emailConfirmation }} <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">{{ session.originalPetition.respEmailAddress | safe }}</span>
  </p>

  {{
    progressList({
      one: {
        label: content.husbandWifeApplied,
        complete: true
      },
      two: {
        label: content.youMustRespond,
        complete: true
      },
      three: {
        label: content.getDecreeNisi,
        current: true
      },
      four: {
        label: content.madeFinal
      }
    })
  }}

  {% if session.FinancialSituation.respConsiderFinancialSituation == "Yes" %}

    <h2 class="govuk-heading-m">{{ content.financialSituationHeading }}</h2>

    <p class="govuk-body">{{ content.financialSituationText1 }}</p>
    <p class="govuk-body">{{ content.financialSituationText2 }} <span>{{ content.financialSituationFormLink | safe }}</span></p>
    <p class="govuk-body">{{ content.financialSituationText3 }}</p>

    <p class="govuk-body">
      {% if session.serviceCentreName %}
        {{ session.serviceCentreName }}<br/>
      {% endif %}
      {{ content.careOfAbbreviation if session.serviceCentreName }} {{ session.divorceCenterName }}<br/>
      {% if session.divorceCenterPoBox %}
          {{ session.divorceCenterPoBox }}<br/>
      {% endif %}
      {% if session.divorceCenterStreet %}
          {{ session.divorceCenterStreet }}<br/>
      {% endif %}
      {{ session.divorceCenterCourtCity }}<br/>
      {{ session.divorceCenterPostCode }}<br/>
    </p>

  {% endif %}

  {% if session.ChooseAResponse.response == "proceed" or session.ChooseAResponse.response == "proceedButDisagree" or session.ConsentDecree.response.consentDecree == "Yes" %}

    <h2 class="govuk-heading-m">{{ content.notDefendedHeading }}</h2>

    {% if session.originalPetition.reasonForDivorce == "adultery" and session.AdmitAdultery.response == "doNotAdmit" %}

      <p class="govuk-body">{{ content.notDefendedAdultery1 }}</p>
      <p class="govuk-body">{{ content.notDefendedAdultery2 }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ content.notDefendedAdulteryLi1 }}</li>
        <li>{{ content.notDefendedAdulteryLi2 }}</li>
      </ul>
      <p class="govuk-body">{{ content.notDefendedAdultery3 }}</p>

    {% else %}

      <p class="govuk-body">{{ content.notDefendedText1 }}</p>
      <p class="govuk-body">{{ content.notDefendedText2 }}</p>
      <ol class="govuk-list govuk-list--number">
        <li>{{ content.notDefendedListItem1 }}</li>
        <li>{{ content.notDefendedListItem2 }}</li>
      </ol>
      <p class="govuk-body">{{ content.notDefendedText3 }}</p>
      <p class="govuk-body">{{ content.notDefendedText4 }}</p>
      <p class="govuk-body">{{ content.notDefendedText5 }}</p>

    {% endif %}

  {% endif %}

  {% if session.ChooseAResponse.response == "defend" or  session.ConsentDecree.response.willDefend == "Yes" %}
    <h2 class="govuk-heading-m">{{ content.defendedHeading }}</h2>
    <p class="govuk-body">{{ content.defendedText1 | safe }}</p>
    <p class="govuk-body">{{ content.defendedText2 }}</p>
    <p class="govuk-body">{{ content.defendedText3 }}</p>
    <ul class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold">
      {% if session.serviceCentreName %}
        <li>{{ session.serviceCentreName }}</li>
      {% endif %}

      <li>{{ content.careOfAbbreviation if session.serviceCentreName }} {{ session.divorceCenterName }}</li>

      {% if session.divorceCenterPoBox %}
        <li>{{ session.divorceCenterPoBox }}</li>
      {% endif %}

      {% if session.divorceCenterStreet %}
        <li>{{ session.divorceCenterStreet | safe }}</li>
      {% endif %}

      <li>{{ session.divorceCenterCourtCity }}</li>
      <li>{{ session.divorceCenterPostCode }}</li>
    </ul>
    <p class="govuk-body">{{ content.defendedText4 }} {{ content.defendedText4Link | safe }}</p>
    <p class="govuk-body">{{ content.defendedText5 }}</p>
    <p class="govuk-body">{{ content.defendedText6 }}</p>
  {% endif %}

  {% if session.originalPetition.reasonForDivorce == "separation-2-years" and session.ConsentDecree.response.consentDecree == "No" and session.ConsentDecree.response.willDefend == "No" %}

    <h2 class="govuk-heading-m">{{ content.notDefendedHeading }}</h2>
    <p class="govuk-body">{{ content.notDefended2YearsNoConsent }}</p>
    <p class="govuk-body">{{ content.notDefended2YearsNoConsent1 }}</p>
    <p class="govuk-body">{{ content.notDefended2YearsNoConsent2 }}</p>
    <p class="govuk-body">{{ content.notDefended2YearsNoConsent3 }}</p>
    <h2 class="govuk-heading-m">{{ content.notDefended2YearsNoConsentH2 }}</h2>
    <p class="govuk-body">{{ content.notDefended2YearsNoConsent4 }}</p>

  {% endif %}


  <h2 class="govuk-heading-m">{{ content.ifYouNeedHelp }}</h2>
  <p class="govuk-body">{{ content.ifYouNeedHelpText | safe }}</p>

  <h2 class="govuk-heading-m">{{ content.helpImproveHeading }}</h2>
  <p class="govuk-body">{{ content.helpImproveText | safe }}</p>

  {% block problems_with_this_page -%}
  {%- endblock %}
{% endblock %}

{% block one_third %}
  <aside class="govuk-related-items" role="complementary">
    <h3 class="govuk-heading-s">{{ content.gettingHelp }}</h3>

    <ul class="govuk-body-s">
      <li>
        <strong class="govuk-!-font-size-16">{{ content.email }}</strong><br>
        {{ session.divorceCenterEmail | safe }}
        <br>
      </li>
      <li>
        <strong class="govuk-!-font-size-16">{{ content.phone }}</strong><br>
        {{ session.divorceCenterPhoneNumber | safe }}<br>
        {{ content.divorceCenterHours }}<br>
      </li>
      {% include "includes/sideMenuCourtDetails.html" %}
    </ul>

    {% include "includes/sideMenuGuidanceLinks.html" %}
  </aside>
{% endblock %}
