{% extends "page.njk" %}

{% from "look-and-feel/components/document-list.njk" import documentList %}

{% block back %}
{% endblock %}

{% set title  %}
  {{ content.title | safe }}
{% endset %}

{% block main_content %}
  <p class="govuk-body-s">
    <strong class="govuk-!-font-size-16 govuk-!-font-weight-bold">{{ content.referenceNumber }}:</strong>&nbsp;&nbsp;&nbsp; {{ session.originalPetition.caseReference | safe }}<br>
    <strong class="govuk-!-font-size-16 govuk-!-font-weight-bold">{{ content.name }}:</strong> &nbsp;&nbsp;
    {{ session.originalPetition.reasonForDivorceAdultery3rdPartyFirstName | safe }} {{ session.originalPetition.reasonForDivorceAdultery3rdPartyLastName | safe }}
 </p>

  <h2 class="govuk-heading-m">{{ content.readAmendedApp if session.originalPetition.previousCaseId else content.readApp }}</h2>

  <p class="govuk-body">{{ content.readApplication }}</p>
  <div class="panel panel-border-wide">
    <p class="govuk-body">{{ content.responseAcknowledgement }}</p>
  </div>
  <p class="govuk-body">{{ content.respond7Days }}</p>
  <p class="govuk-body">{{ content.namedCorespondent }}</p>

  <form action="{{ postUrl | default(path if path else url) }}" method="post" class="form">

    <input class="govuk-button govuk-button--start" type="submit" value="{{ content.continue }}">
  </form>
<br>
{% endblock %}

{% block one_third %}
  {% include "includes/sideMenuCoRespondent.html" %}
{% endblock %}
