{% extends "question.njk" %}

{% from "look-and-feel/components/fields.njk" import formSection, selectionButtons, textarea %}

{% set title %}
{{ content.title | safe }}
{% endset %}

{% block fields %}

<div>

  <p class="govuk-body">{{ content.text1 | safe }}</p>
  <p class="govuk-body">{{ content.text2 | safe }}</p>
  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">{{ content.info.heading | safe }}</span>
    </summary>
    <div class="govuk-details__text">
      <p class="govuk-body">{{ content.info.summary1 | safe }}</p>
      <p class="govuk-body">{{ content.info.summary2 | safe }}</p>
      <p class="govuk-body">{{ content.info.summary3 | safe }}</p>
      <p class="govuk-body">{{ content.info.summary4 | safe }}</p>
    </div>
  </details>
  <br>

  {% call formSection() %}
    {{ selectionButtons(fields.financialHardship.exists, content.title,
        options = [
        { label: content.fields.yes.heading, value: "Yes", target: "hardship-details" },
        { label: content.fields.no.heading, value: "No" }
        ],
        hideQuestion=true,
        inline=true,
        type='radio'
      )
    }}

    <div id="hardship-details" class="panel js-hidden">

      <h4 class="govuk-heading-s">{{ content.fields.yes.details.title | safe }}</h4>

      {{ textarea(fields.financialHardship.details, content.fields.yes.details.title, hideLabel=true) }}

    </div>
  {% endcall %}
</div>

{% endblock %}
