{% extends "question.njk" %}

{% from "look-and-feel/components/fields.njk" import formSection, selectionButtons %}

{% set title %}
    {{ content.title | safe }}
{% endset %}

{% block fields %}

    <div id="admit-adultery">

        <p class="govuk-body">{{ content.detailsText | safe }}</p>

        {% if caseData.reasonForDivorceAdulteryKnowWhere === 'Yes' %}
            <h2 class="govuk-heading-s">{{ content.whereAdultery.heading }}</h2>
            <p class="govuk-body">"{{ caseData.reasonForDivorceAdulteryWhereDetails | nl2br | safe }}"</p>
{#            {% if caseData.reasonForDivorceAdulteryWhereDetailsTrans %}#}
{#                <p class="govuk-body">"{{ caseData.reasonForDivorceAdulteryWhereDetailsTrans | nl2br | safe }}"</p>#}
{#            {% endif %}#}
          {% endif %}

        {% if caseData.reasonForDivorceAdulteryKnowWhen === 'Yes' %}
            <h2 class="govuk-heading-s">{{ content.whenAdultery.heading }}</h2>
            <p class="govuk-body">"{{ caseData.reasonForDivorceAdulteryWhenDetails | nl2br | safe }}"</p>
{#            {% if caseData.reasonForDivorceAdulteryWhenDetailsTrans %}#}
{#                <p class="govuk-body">"{{ caseData.reasonForDivorceAdulteryWhenDetailsTrans | nl2br | safe }}"</p>#}
{#            {% endif %}#}
        {% endif %}

        {% if caseData.reasonForDivorceAdulteryDetails %}
            <h2 class="govuk-heading-s">{{ content.details.heading }}</h2>
            <p class="govuk-body">"{{ caseData.reasonForDivorceAdulteryDetails | nl2br | safe }}"</p>
{#            {% if caseData.reasonForDivorceAdulteryDetailsTrans %}#}
{#                <p class="govuk-body">"{{ caseData.reasonForDivorceAdulteryDetailsTrans | nl2br | safe }}"</p>#}
{#            {% endif %}#}
        {% endif %}

        <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">{{ content.howYourAnswerAffect.heading }}</span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body">{{ content.howYourAnswerAffect.para1 }}</p>
                <p class="govuk-body">{{ content.howYourAnswerAffect.para2 }}</p>
                <h3 class="govuk-heading-s">{{ content.howYourAnswerAffect.subHeading }}</h3>
                <p class="govuk-body">{{ content.howYourAnswerAffect.para3 }}</p>
                <p class="govuk-body">{{ content.howYourAnswerAffect.para4 }}</p>
            </div>
        </details>

        {% call formSection() %}
            {{ selectionButtons(fields.response, content.title,
                options = [
                    { label: content.fields.admit.label, value: const.admit },
                    { label: content.fields.doNotAdmit.label, value: const.doNotAdmit }
                ],
                hint=false,
                hideQuestion=true,
                inline=false,
                type='radio'
            ) }}
        {% endcall %}
    </div>

{% endblock %}
