{% extends "question.njk" %}

{% from "look-and-feel/components/fields.njk" import formSection, selectionButtons %}

{% set title %}
  {{ content.title | safe }}
{% endset %}

{% block fields %}

  {% call formSection() %}
    {{ selectionButtons(fields.success, content.title,
      options = [
        { label: content.fields.success.yesCaseAwaitingResponse, value: "yesCaseAwaitingResponse" },
        { label: content.fields.success.yesCaseStarted, value: "yesCaseStarted" },
        { label: content.fields.success.yesCaseNotLinked, value: "yesCaseNotLinked" },
        { label: content.fields.success.no, value: "no" }
      ]
    ) }}
  {% endcall %}

{% endblock %}
