{% extends "question.njk" %}

{% from "look-and-feel/components/fields.njk" import formSection, selectionButtons %}

{% set title %}
    {{ content.title | safe }}
{% endset %}

{% block fields %}

    {% call formSection() %}
        {{ selectionButtons(fields.success, content.title,
            options = [
                { label: content.fields.success.yesCaseStarted, value: "yesCaseStarted" },
                { label: content.fields.success.yesAdultery, value: "yesAdultery" },
                { label: content.fields.success.yesAdulteryAmendedCase, value: "yesAdulteryAmendedCase" },
                { label: content.fields.success.yes2yrSeparation, value: "yes2yrSeparation" },
                { label: content.fields.success.yes5yrSeparation, value: "yes5yrSeparation" },
                { label: content.fields.success.yes5yrSeparationTwoDates, value: "yes5yrSeparationTwoDates" },
                { label: content.fields.success.yesDesertion, value: "yesDesertion" },
                { label: content.fields.success.yesCaseNotLinked, value: "yesCaseNotLinked" },
                { label: content.fields.success.yesCaseNotLinkedAndInvalidPin, value: "yesCaseNotLinkedAndInvalidPin" },
                { label: content.fields.success.yesCaseNotLinkedAndServerError, value: "yesCaseNotLinkedAndServerError" },
                { label: content.fields.success.yesCaseProgressedNoAos, value: "yesCaseProgressedNoAos" },
                { label: content.fields.success.yesCaseProgressedUndefended, value: "yesCaseProgressedUndefended" },
                { label: content.fields.success.yesCaseProgressedAwaitingAnswer, value: "yesCaseProgressedAwaitingAnswer" },
                { label: content.fields.success.yesAosOverdue, value: "yesAosOverdue" },
                { label: content.fields.success.yesCaseProgressedDefending, value: "yesCaseProgressedDefending" },
                { label: content.fields.success.yesDecreeNisiPronouncement, value: "yesDecreeNisiPronouncement" },
                { label: content.fields.success.awaitingDecreeAbsolute, value: "awaitingDecreeAbsolute" },
                { label: content.fields.success.dnPronounced, value: "dnPronounced" },
                { label: content.fields.success.aosAwaitingSol, value: "aosAwaitingSol" },
                { label: content.fields.success.dnIsRefused, value: "dnIsRefused" },
                { label: content.fields.success.no, value: "no" },
                { label: content.fields.success.petitionerRedirect, value: "petitionerRedirect" },
                { label: content.fields.success.corespondentLogin, value: "co-respondent" },
                { label: content.fields.success.corespondentAmendedCaseLogin, value: "co-respondent-amended-case" },
                { label: content.fields.success.coRespNotDefending, value: "coRespNotDefending" },
                { label: content.fields.success.coRespDefendingWaitingAnswer, value: "coRespDefendingWaitingAnswer" },
                { label: content.fields.success.coRespDefendingSubmittedAnswer, value: "coRespDefendingSubmittedAnswer" },
                { label: content.fields.success.coRespTooLateToRespond, value: "coRespTooLateToRespond" },
                { label: content.fields.success.coRespAwaitingPronouncementHearingDataFuture, value: "coRespAwaitingPronouncementHearingDataFuture" },
                { label: content.fields.success.coRespDNPronouncedWithCosts, value: "coRespDNPronouncedWithCosts" },
                { label: content.fields.success.coRespDNPronouncedWithoutCosts, value: "coRespDNPronouncedWithoutCosts" },
                { label: content.fields.success.serviceApplicationNotApproved, value: "serviceApplicationNotApproved" },
                { label: content.fields.success.awaitingAlternativeService, value: "awaitingAlternativeService" },
                { label: content.fields.success.awaitingProcessServerService, value: "awaitingProcessServerService" },
                { label: content.fields.success.awaitingDWPResponse, value: "awaitingDWPResponse" },
                { label: content.fields.success.throwError, value: "throwError" }
            ]
        ) }}
    {% endcall %}

{% endblock %}
