{% extends "page.njk" %}

{% from "look-and-feel/components/progress-list.njk" import progressList %}

{% block back %}{% endblock %}
{% block title %}{% endblock %}

{% block main_content %}
  <div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title govuk-!-margin-bottom-0">{{content.responseSent | safe}}</h1>
    <p class="govuk-panel__body govuk-!-margin-0 govuk-!-margin-top-2">
      <span class="govuk-!-font-size-19">{{ content.referenceNumber | safe }}</span>
      <br>
      <strong class="govuk-body-reference-number" aria-label="{{ session.originalPetition.caseReference | a11yCharSeparator | safe }}">
        {{ session.originalPetition.caseReference | safe }}
      </strong>
    </p>
  </div>


  {% from "look-and-feel/components/progress-list.njk" import progressList %}
  {% if session.SolicitorRepresentation.response == "Yes" %}
    <p class="govuk-body">{{ content.emailConfirmation }} <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">{{ session.SolicitorDetails.solicitorDetails.solicitorEmail | safe }}</span></p>
    {{
      progressList({
        one: {
          label: content.husbandWifeApplied,
          complete: true
        },
        two: {
          label: content.solicitorMustRespond,
          current: true
        },
        three: {
          label: content.getDecreeNisi
        },
        four: {
          label: content.madeFinal
        }
      })
    }}
  {% else %}
    <p class="govuk-body">{{ content.emailConfirmation }} <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">{{ session.originalPetition.respEmailAddress | safe }}</span></p>
    {{
      progressList({
        one: {
          label: content.husbandWifeApplied,
          complete: true
        },
        two: {
          label: content.youMustRespond,
          complete: true
        },
        three: {
          label: content.getDecreeNisi,
          current: true
        },
        four: {
          label: content.madeFinal
        }
      })
    }}
  {% endif %}

  {% if session.FinancialSituation.respConsiderFinancialSituation == "Yes" %}

    <h2 class="govuk-heading-m">{{ content.financialSituationHeading }}</h2>

    <p class="govuk-body">{{ content.financialSituationText1 }}</p>
    <p class="govuk-body">{{ content.financialSituationText2 }} <span>{{ content.financialSituationFormLink | safe }}</span></p>
    <p class="govuk-body">{{ content.financialSituationText3 }}</p>

    <ul class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold">
      {% if session.serviceCentreName %}
        <li>{{ session.serviceCentreName }}</li>
      {% endif %}
        <li>{{ content.careOfAbbreviation if session.serviceCentreName }} {{ session.divorceCenterName }}</li>
      {% if session.divorceCenterPoBox %}
        <li>{{ session.divorceCenterPoBox }}</li>
      {% endif %}
      {% if session.divorceCenterStreet %}
        <li>{{ session.divorceCenterStreet }}</li>
      {% endif %}
        <li>{{ session.divorceCenterCourtCity }}</li>
      <li>{{ session.divorceCenterPostCode }}</li>
    </ul>

  {% endif %}

  {% if session.ChooseAResponse.response == "proceed" or session.ChooseAResponse.response == "proceedButDisagree" or session.ConsentDecree.response.consentDecree == "Yes" %}

    <h2 class="govuk-heading-m">{{ content.notDefendedHeading }}</h2>

    {% if session.originalPetition.reasonForDivorce == "adultery" and session.AdmitAdultery.response == "doNotAdmit" %}

      <p class="govuk-body">{{ content.notDefendedAdultery1 }}</p>
      <p class="govuk-body">{{ content.notDefendedAdultery2 }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ content.notDefendedAdulteryLi1 }}</li>
        <li>{{ content.notDefendedAdulteryLi2 }}</li>
      </ul>
      <p class="govuk-body">{{ content.notDefendedAdultery3 }}</p>

    {% else %}

      <p class="govuk-body">{{ content.notDefendedText1 }}</p>
      <p class="govuk-body">{{ content.notDefendedText2 }}</p>
      <ol class="govuk-list govuk-list--number">
        <li>{{ content.notDefendedListItem1 }}</li>
        <li>{{ content.notDefendedListItem2 }}</li>
      </ol>
      <p class="govuk-body">{{ content.notDefendedText3 }}</p>
      <p class="govuk-body">{{ content.notDefendedText4 }}</p>
      <p class="govuk-body">{{ content.notDefendedText5 }}</p>

    {% endif %}

  {% endif %}

  {% if session.ChooseAResponse.response == "defend" or  session.ConsentDecree.response.willDefend == "Yes" %}
    <h2 class="govuk-heading-m">{{ content.defendedHeading }}</h2>
    <p class="govuk-body">{{ content.defendedText1 | safe }}</p>
    <p class="govuk-body">{{ content.defendedText2 }}</p>
    <p class="govuk-body">{{ content.defendedText3 }}</p>
    <ul class="govuk-list govuk-!-font-size-19 govuk-!-font-weight-bold">
      {% if session.serviceCentreName %}
        <li>{{ session.serviceCentreName }}</li>
      {% endif %}

      <li>{{ content.careOfAbbreviation if session.serviceCentreName }} {{ session.divorceCenterName }}</li>

      {% if session.divorceCenterPoBox %}
        <li>{{ session.divorceCenterPoBox }}</li>
      {% endif %}

      {% if session.divorceCenterStreet %}
        <li>{{ session.divorceCenterStreet | safe }}</li>
      {% endif %}

      <li>{{ session.divorceCenterCourtCity }}</li>
      <li>{{ session.divorceCenterPostCode }}</li>
    </ul>
    <p class="govuk-body">{{ content.defendedText4 }} {{ content.defendedText4Link | safe }}</p>
    <p class="govuk-body">{{ content.defendedText5 }}</p>
    <p class="govuk-body">{{ content.defendedText6 }}</p>
  {% endif %}

  {% if session.originalPetition.reasonForDivorce == "separation-2-years" and session.ConsentDecree.response.consentDecree == "No" and session.ConsentDecree.response.willDefend == "No" %}

    <h2 class="govuk-heading-m">{{ content.notDefendedHeading }}</h2>
    <p class="govuk-body">{{ content.notDefended2YearsNoConsent }}</p>
    <p class="govuk-body">{{ content.notDefended2YearsNoConsent1 }}</p>
    <p class="govuk-body">{{ content.notDefended2YearsNoConsent2 }}</p>
    <p class="govuk-body">{{ content.notDefended2YearsNoConsent3 }}</p>
    <h2 class="govuk-heading-m">{{ content.notDefended2YearsNoConsentH2 }}</h2>
    <p class="govuk-body">{{ content.notDefended2YearsNoConsent4 }}</p>

  {% endif %}

  {% if session.SolicitorRepresentation.response == "Yes" %}

    <h2 class="govuk-heading-m">{{ content.solHeading }}</h2>
    <p class="govuk-body">{{ content.nominatedSol }}</p>
    <h2 class="govuk-heading-m">{{ content.solSubHeading }}</h2>
    <p class="govuk-body">{{ content.solNextDetails }}</p>

  {% endif %}

  <h2 class="govuk-heading-m">{{ content.ifYouNeedHelp }}</h2>
  <p class="govuk-body">{{ content.ifYouNeedHelpText | safe }}</p>

  <h2 class="govuk-heading-m">{{ content.helpImproveHeading }}</h2>
  <p class="govuk-body">{{ content.helpImproveText | safe }}</p>

  {% block problems_with_this_page -%}
  {%- endblock %}
{% endblock %}

{% block one_third %}
  {% include "includes/sideMenu.html" %}
{% endblock %}
