{% extends "page.njk" %}

{% from "look-and-feel/components/progress-list.njk" import progressList %}

{% block back %}{% endblock %}
{% block title %}{% endblock %}
{% block proposition_header %}
<div class="header-proposition">
    <div class="content">
        <nav id="proposition-menu">
            <a href="/" id="proposition-name">
                {{ content.serviceName }}
            </a>
        </nav>
    </div>
</div>
{% endblock %}

{% block main_content %}

<div class="govuk-box-highlight">
    <h1 class="bold-large">{{ content.responseSent }}</h1>
    <p class="text-reference">
        {{ content.referenceNumber }}<br>
        <strong class="text-reference-number" aria-label="{{ session.originalPetition.caseReference | a11yCharSeparator | safe }}">{{ session.originalPetition.caseReference | safe }}</strong>
    </p>
</div>

<p class="text">{{ content.emailConfirmation }}
    <span class="bold-small">{{ coRespEmailAddress | safe }}</span>
</p>

{% if session.CrChooseAResponse.response == "defend" %}

    <h2 class="heading-medium">{{ content.whatYouNeedToDoNow }}</h2>

    <p class="text">{{ content.submitAnswerToDivorce | safe }}</p>
    <p class="text">{{ content.fillInPaperForm }}</p>
    <p class="text">{{ content.postFormTo }}</p>

    <ul class="list bold-small">
        {% if session.serviceCentreName %}
            <li>{{ session.serviceCentreName }}</li>
        {% endif %}

        <li>{{ session.divorceCenterName }}</li>

        {% if session.divorceCenterPoBox %}
            <li>{{ session.divorceCenterPoBox }}</li>
        {% endif %}
        {% if session.divorceCenterStreet %}
            <li>{{ session.divorceCenterStreet }}</li>
        {% endif %}
        <li>{{ session.divorceCenterCourtCity }}</li>
        <li>{{ session.divorceCenterPostCode }}</li>
    </ul>

    <p class="text">{{ content.feeToPay | safe }}</p>
    <p class="text">{{ content.hearingAboutDivorce }}</p>
    <p class="text">{{ content.dontSubmitAnswer }}</p>

{% else %}

    <h2 class="heading-medium">{{ content.whatHappensNext }}</h2>
    <p class="text">{{ content.yourResponse }}</p>

{% endif %}

{% if session.originalPetition.claimsCosts == "Yes" %}
<h2 class="heading-medium">{{ content.claimedCostsTitle }}</h2>
<p>{{ content.claimedCostsText }}</p>

<h3 class="heading-small">{{ content.objectingToCostsOrderTitle }}</h3>
<p>{{ content.objectingToCostsOrderText1 }}</p>
<p class="text">{{ content.objectingToCostsOrderText2 }}</p>
{% endif %}

<h2 class="heading-medium">{{ content.ifYouNeedHelp }}</h2>
<p class="text">{{ content.ifYouNeedHelpText | safe }}</p>

<h2 class="heading-medium">{{ content.helpImproveHeading }}</h2>
<p class="text">{{ content.helpImproveText | safe }}</p>

{% block problems_with_this_page -%}
{%- endblock %}
{% endblock %}

{% block one_third %}
<aside class="govuk-related-items" role="complementary">
    <h3 class="heading-small">{{ content.gettingHelp }}</h3>
    <ul class="font-xsmall">
        <li>
            <strong class="bold-xsmall">{{ content.email }}</strong><br>
            {{ session.divorceCenterEmail | safe }}
            <br>
        </li>
        <li>
            <strong class="bold-xsmall">{{ content.phone }}</strong><br>
            {{ session.divorceCenterPhoneNumber | safe }}<br>
            {{ content.divorceCenterHours }}<br>
        </li>
        {% include "includes/sideMenuCourtDetails.html" %}
    </ul>
    {% include "includes/sideMenuGuidanceLinksForCoRespondent.html" %}
</aside>
{% endblock %}
