{% extends "page.njk" %}

{% from "look-and-feel/components/progress-list.njk" import progressList %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block back %}{% endblock %}
{% block title %}{% endblock %}

{% block main_content %}

{% set html %}
    {{ content.referenceNumber }}<br>
    <strong aria-label="{{ session.originalPetition.caseReference | a11yCharSeparator | safe }}">{{ session.originalPetition.caseReference | safe }}</strong>
{% endset %}

{{ govukPanel({
    titleText: content.responseSent,
    html: html
}) }}

<p class="govuk-body">{{ content.emailConfirmation }}
    <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">{{ coRespEmailAddress | safe }}</span>
</p>

{% if session.CrChooseAResponse.response == "defend" %}

    <h2 class="govuk-heading-m">{{ content.whatYouNeedToDoNow }}</h2>

    <p class="govuk-body">{{ content.submitAnswerToDivorce | safe }}</p>
    <p class="govuk-body">{{ content.fillInPaperForm }}</p>
    <p class="govuk-body">{{ content.postFormTo }}</p>

    <ul class="govuk-list govuk-list--bullet govuk-!-font-weight-bold">
        {% if session.serviceCentreName %}
            <li>{{ session.serviceCentreName }}</li>
        {% endif %}

        <li>{{ content.careOfAbbreviation if session.serviceCentreName }} {{ session.divorceCenterName }}</li>

        {% if session.divorceCenterPoBox %}
            <li>{{ session.divorceCenterPoBox }}</li>
        {% endif %}
        {% if session.divorceCenterStreet %}
            <li>{{ session.divorceCenterStreet }}</li>
        {% endif %}
        <li>{{ session.divorceCenterCourtCity }}</li>
        <li>{{ session.divorceCenterPostCode }}</li>
    </ul>

    <p class="govuk-body">{{ content.feeToPay | safe }}</p>
    <p class="govuk-body">{{ content.hearingAboutDivorce }}</p>
    <p class="govuk-body">{{ content.dontSubmitAnswer }}</p>

{% else %}

    <h2 class="govuk-heading-m">{{ content.whatHappensNext }}</h2>
    <p class="govuk-body">{{ content.yourResponse }}</p>

{% endif %}

{% if session.originalPetition.claimsCosts == "Yes" %}
<h2 class="govuk-heading-m">{{ content.claimedCostsTitle }}</h2>
<p class="govuk-body">{{ content.claimedCostsText }}</p>

<h3 class="govuk-heading-s">{{ content.objectingToCostsOrderTitle }}</h3>
<p class="govuk-body">{{ content.objectingToCostsOrderText1 }}</p>
<p class="govuk-body">{{ content.objectingToCostsOrderText2 }}</p>
{% endif %}

<h2 class="govuk-heading-m">{{ content.ifYouNeedHelp }}</h2>
<p class="govuk-body">{{ content.ifYouNeedHelpText | safe }}</p>

<h2 class="govuk-heading-m">{{ content.helpImproveHeading }}</h2>
<p class="govuk-body">{{ content.helpImproveText | safe }}</p>
{% endblock %}

{% block one_third %}
    {% include "includes/sideMenuCoRespondent.html" %}
{% endblock %}
