{% extends "question.njk" %}

{% from "look-and-feel/components/fields.njk" import formSection, selectionButtons, textbox %}

{% set title %}
    {{ content.title | safe }}
{% endset %}

{% block fields %}

    <p class="govuk-body">{{ content.enterTheDetailsOfTheSolicitor | safe }}</p>

    <div id="respondent-solicitor-details">

        {% call formSection() %}
            {{ textbox(
                fields.solicitorDetails.solicitorName,
                content.fields.solicitorName.label,
                hint=content.fields.solicitorName.hint) }}
        {% endcall %}

        {% call formSection() %}
            {{ textbox(
                fields.solicitorDetails.firmName,
                content.fields.firmName.label) }}
        {% endcall %}

        {% call formSection() %}
            {{ textbox(
                fields.solicitorDetails.solicitorEmail,
                content.fields.solicitorEmail.label) }}
        {% endcall %}

        {% call formSection() %}
            {{ textbox(
                fields.solicitorDetails.telephone,
                content.fields.telephone.label) }}
        {% endcall %}

        {% call formSection() %}
            {{ textbox(
                fields.solicitorDetails.solicitorRefNumber,
                content.fields.solicitorRefNumber.label) }}
        {% endcall %}

        {% call formSection() %}
            {{
            selectionButtons(
                fields.solicitorDetails.consent,
                content.statementOfTruth,
                options = [
                { label: content.fields.statementOfTruth.yes, value: "Yes" }
            ],
                hint=false,
                hideQuestion=true,
                inline=false,
                type='checkbox',
                class='confirmation-container'
            )
            }}
        {% endcall %}

    </div>
{% endblock %}
