{% extends "question.njk" %}

{% from "warning-text/macro.njk" import govukWarningText %}
{% from "look-and-feel/components/fields.njk" import formSection, selectionButtons %}

{% set title %}
    {{ content.title | safe }}
{% endset %}

{% block fields %}

    <div id="confirm-defence">

        <p class="govuk-body">{{ content.defenceFeeDetails | safe }}</p>

        {{ govukWarningText({
            text: content.legalAdviceWarn,
            iconFallbackText: content.warning
        }) }}

        <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">{{ content.info.readMore | safe }}</span>
            </summary>
            <div class="govuk-details__text">
                <h2 class="govuk-heading-s">{{ content.info.sections.intendToPrevent.heading | safe }}</h2>
                <p class="govuk-body">{{ content.info.sections.intendToPrevent.summary | safe }}</p>

                <h2 class="govuk-heading-s">{{ content.info.sections.makeOwnApplication.heading | safe }}</h2>
                <p class="govuk-body">{{ content.info.sections.makeOwnApplication.summary | safe }}</p>
            </div>
        </details>

        {% call formSection() %}
            {{ selectionButtons(fields.response, content.title,
                options = [
                    { label: content.fields.confirm.label, value: const.confirm },
                    { label: content.fields.changeResponse.label, value: const.changeResponse }
                ],
                hint=false,
                hideQuestion=true,
                inline=false,
                type='radio'
            ) }}
        {% endcall %}
    </div>

{% endblock %}
