idam-pr:
  redirect_uris:
    divorce:
      - https://${SERVICE_FQDN}/authenticated

nodejs:
    environment:
        BASE_URL: "https://${SERVICE_NAME}.service.core-compute-preview.internal"
        LOG_LEVEL: "DEBUG"
        REDISCLOUD_URL: "redis://${SERVICE_NAME}-redis-master:6379"
        COS_BASE_URL: "http://div-cos-pr-878.service.core-compute-preview.internal"
    # Don't modify below here
    image: ${IMAGE_NAME}
    ingressHost: ${SERVICE_FQDN}

    keyVaults:
        div:
          secrets:
            - session-secret
            - redis-secret
            - idam-secret
            - os-places-token
            - launchdarkly-key

tags:
  idam-pr: true
  pr: true
