{% extends "page.njk" %}

{% set serviceLinks = [] %}

{% block back %}{% endblock %}

{% set titleSize = 'l' %}

{% set title  %}
  {{ content.title | safe }}
{% endset %}

{% block main_content %}
    <p class="govuk-body">{{ content.progressNotSaved | safe }}</p>
    <p class="govuk-body">{{ content.signInToReturn | safe }}</p>
    <p class="govuk-body">{{ content.ifYouNeedHelp | safe }}</p>
    <p class="govuk-body">
      {% if i18n.currentLanguage == "en" %}
        {{ commonProps.en.courtPhoneNumber | safe }}<br>
        {{ commonProps.en.courtOpeningHours | safe}}
      {% else %}
        {{ content.phoneToCallIfProblems | safe }}
      {% endif %}
    </p>
    <p class="govuk-body">{{ content.emailIfProblems | safe }}</p>

{% endblock %}
