{% extends "question.njk" %}

{% from "look-and-feel/components/fields.njk" import formSection, selectionButtons, selectionButton %}

{% set title %}
    {{ content.title | safe }}
{% endset %}

{% if isBehaviourOrDesertion %}
    {% set responseOptions = [
        { label: content.fields.proceed.heading, value: consts.proceed, description: content.fields.proceed.summary },
        { label: content.fields.proceedButDisagree.heading, value: consts.proceedButDisagree, description: content.fields.proceedButDisagree.summary },
        { label: content.fields.defend.heading, value: consts.defend, description: content.fields.defend.summary }
    ] %}
{% else %}
    {% set responseOptions = [
        { label: content.fields.proceed.heading, value: consts.proceed, description: content.fields.proceed.summary },
        { label: content.fields.defend.heading, value: consts.defend, description: content.fields.defend.summary }
    ] %}
{% endif %}

{% block fields %}

    <div id="choose-a-response">

        <p class="govuk-body govuk-!-font-weight-bold">{{ content.action | safe }}</p>

        <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">{{ content.info.heading | safe }}</span>
            </summary>
            <div class="govuk-details__text">
                <h2 class="govuk-heading-s">{{ content.info.options.proceed.heading | safe }}</h2>
                <p class="govuk-body">{{ content.info.options.proceed.summary | safe }}</p>

                {% if isBehaviourOrDesertion %}
                    <h2 class="govuk-heading-s">{{ content.info.options.proceedButDisagree.heading | safe }}</h2>
                    <p class="govuk-body">{{ content.info.options.proceedButDisagree.summary | safe }}</p>
                {% endif %}

                <h2 class="govuk-heading-s">{{ content.info.options.defend.heading | safe }}</h2>
                <p class="govuk-body">{{ content.info.options.defend.summary | safe }}</p>

                {% if isSeparation5yrs %}
                    <h2 class="govuk-heading-s">{{ content.info.options.hardship.heading | safe }}</h2>
                    <p class="govuk-body">{{ content.info.options.hardship.text1 | safe }}</p>
                    <p class="govuk-body">{{ content.info.options.hardship.text2 | safe }}</p>
                    <p class="govuk-body">{{ content.info.options.hardship.text3 | safe }}</p>
                    <p class="govuk-body">{{ content.info.options.hardship.text4 | safe }}</p>
                    <p class="govuk-body">{{ content.info.options.hardship.text5 | safe }}</p>
                    <p class="govuk-body">{{ content.info.options.hardship.text6 | safe }}</p>
                    <p class="govuk-body">{{ content.info.options.hardship.text7 | safe }}</p>
                {% endif %}
            </div>
        </details>

        {% call formSection() %}
            {{ selectionButtons(fields.response, content.title,
                options = responseOptions,
                hint=false,
                hideQuestion=true,
                inline=false,
                type='radio'
            ) }}
        {% endcall %}
    </div>

{% endblock %}
