{% extends "question.njk" %}

{% from "look-and-feel/components/fields.njk" import formSection, selectionButtons, textarea, textbox %}

{% set title %}
{{ content.title | safe }}
{% endset %}

{% block fields %}

<div id="jurisdiction">
  <p class="govuk-body">{{ content.summary | safe }}</p>

  {% if session.originalPetition.jurisdictionConnection|length > 1 and session.originalPetition.jurisdictionConnection != ["A", "C"] and session.originalPetition.jurisdictionConnection != ["C", "A"] %}
  <ul class="govuk-list govuk-list--bullet">
    {% endif %}

    {% if "A" in session.originalPetition.jurisdictionConnection %}
    {% if session.originalPetition.jurisdictionConnection|length > 1 and session.originalPetition.jurisdictionConnection != ["A", "C"] and session.originalPetition.jurisdictionConnection != ["C", "A"] %}
    <li>
      {% endif %}

      {{ content.jurisdictionConnectionBothResident }}

      {% if session.originalPetition.jurisdictionConnection|length > 1  and session.originalPetition.jurisdictionConnection != ["A", "C"] and session.originalPetition.jurisdictionConnection != ["C", "A"] %}
    </li>
    {% endif %}
    {% endif %}

    {% if "B" in session.originalPetition.jurisdictionConnection %}
    {% if session.originalPetition.jurisdictionConnection|length > 1 and session.originalPetition.jurisdictionConnection != ["A", "C"] and session.originalPetition.jurisdictionConnection != ["C", "A"] %}
    <li>
      {% endif %}

      {{ content.jurisdictionConnectionOneResides }}

      {% if session.originalPetition.jurisdictionConnection|length > 1 and session.originalPetition.jurisdictionConnection != ["A", "C"] and session.originalPetition.jurisdictionConnection != ["C", "A"] %}
    </li>
    {% endif %}
    {% endif %}

    {% if "C" in session.originalPetition.jurisdictionConnection and (not ("A" in session.originalPetition.jurisdictionConnection)) %}
    {% if session.originalPetition.jurisdictionConnection|length > 1 and session.originalPetition.jurisdictionConnection != ["A", "C"] and session.originalPetition.jurisdictionConnection != ["C", "A"] %}
    <li>
      {% endif %}

      {{ content.jurisdictionConnectionRespondent }}

      {% if session.originalPetition.jurisdictionConnection|length > 1 and session.originalPetition.jurisdictionConnection != ["A", "C"] and session.originalPetition.jurisdictionConnection != ["C", "A"] %}
    </li>
    {% endif %}
    {% endif %}

    {% if "D" in session.originalPetition.jurisdictionConnection %}
    {% if session.originalPetition.jurisdictionConnection|length > 1 and session.originalPetition.jurisdictionConnection != ["A", "C"] and session.originalPetition.jurisdictionConnection != ["C", "A"] %}
    <li>
      {% endif %}

      {{ content.jurisdictionConnectionPetitioner }}

      {% if session.originalPetition.jurisdictionConnection|length > 1 and session.originalPetition.jurisdictionConnection != ["A", "C"] and session.originalPetition.jurisdictionConnection != ["C", "A"] %}
    </li>
    {% endif %}
    {% endif %}

    {% if "E" in session.originalPetition.jurisdictionConnection %}
    {% if session.originalPetition.jurisdictionConnection|length > 1 and session.originalPetition.jurisdictionConnection != ["A", "C"] and session.originalPetition.jurisdictionConnection != ["C", "A"] %}
    <li>
      {% endif %}

      {{ content.jurisdictionConnectionPetitionerSixMonths }}

      {% if session.originalPetition.jurisdictionConnection|length > 1 and session.originalPetition.jurisdictionConnection != ["A", "C"] and session.originalPetition.jurisdictionConnection != ["C", "A"] %}
    </li>
    {% endif %}
    {% endif %}

    {% if "F" in session.originalPetition.jurisdictionConnection %}
    {% if session.originalPetition.jurisdictionConnection|length > 1 and session.originalPetition.jurisdictionConnection != ["A", "C"] and session.originalPetition.jurisdictionConnection != ["C", "A"] %}
    <li>
      {% endif %}

      {{ content.jurisdictionConnectionBothDomiciled }}

      {% if session.originalPetition.jurisdictionConnection|length > 1 and session.originalPetition.jurisdictionConnection != ["A", "C"] and session.originalPetition.jurisdictionConnection != ["C", "A"] %}
    </li>
    {% endif %}
    {% endif %}

    {% if "G" in session.originalPetition.jurisdictionConnection %}
    {% if session.originalPetition.jurisdictionConnection|length > 1 and session.originalPetition.jurisdictionConnection != ["A", "C"] and session.originalPetition.jurisdictionConnection != ["C", "A"] %}
    <li>
      {% endif %}

      {{ content.jurisdictionConnectionOther }}

      {% if session.originalPetition.jurisdictionConnection|length > 1 and session.originalPetition.jurisdictionConnection != ["A", "C"] and session.originalPetition.jurisdictionConnection != ["C", "A"] %}
    </li>
    {% endif %}
    {% endif %}

    {% if session.originalPetition.jurisdictionConnection|length > 1 and session.originalPetition.jurisdictionConnection != ["A", "C"] and session.originalPetition.jurisdictionConnection != ["C", "A"] %}
  </ul>
  {% endif %}

  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text" aria-label="What jurisdiction means">{{ content.info.heading | safe }}</span>
    </summary>
    <div class="govuk-details__text">
      <h2 class="govuk-heading-s">{{ content.info.options.habitualResidence.heading | safe }}</h2>
      <p class="govuk-body">{{ content.info.options.habitualResidence.summary1 | safe }}</p>
      <p class="govuk-body">{{ content.info.options.habitualResidence.summary2 | safe }}</p>
      <p class="govuk-body">{{ content.info.options.habitualResidence.summary3 | safe }}</p>

      <h2 class="govuk-heading-s">{{ content.info.options.domicile.heading | safe }}</h2>
      <p class="govuk-body">{{ content.info.options.domicile.summary1 | safe }}</p>
      <p class="govuk-body">{{ content.info.options.domicile.summary2 | safe }}</p>
      <p class="govuk-body">{{ content.info.options.domicile.summary3Part1 | safe }}<stong>{{ content.info.options.domicile.summary3Part2 | safe }}</stong>{{ content.info.options.domicile.summary3Part3 | safe }}</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>{{ content.info.options.domicile.summary3SubText1 | safe }}</li>
        <li>{{ content.info.options.domicile.summary3SubText2 | safe }}</li>
      </ul>

      <br>

      <p class="govuk-body">{{ content.info.options.domicile.summary4Part1 | safe }}<stong>{{ content.info.options.domicile.summary4Part2 | safe }}</stong></p>
      <p class="govuk-body">{{ content.info.options.domicile.summary5 | safe }}</p>

      <h2 class="govuk-heading-s">{{ content.info.options.residualJurisdiction.heading | safe }}</h2>
      <p class="govuk-body">{{ content.info.options.residualJurisdiction.intro1 | safe }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ content.info.options.residualJurisdiction.bullet1 | safe }}</li>
        <li>{{ content.info.options.residualJurisdiction.bullet2 | safe }}</li>
      </ul>
      <p class="govuk-body">{{ content.info.options.residualJurisdiction.intro2 | safe }}</p>
       <ul class="govuk-list govuk-list--bullet">
        <li>{{ content.info.options.residualJurisdiction.bullet3 | safe }}</li>
        <li>{{ content.info.options.residualJurisdiction.bullet4 | safe }}</li>
        <li>{{ content.info.options.residualJurisdiction.bullet5 | safe }}</li>
       </ul>
    </div>
  </details>

  <p class="govuk-body">{{ content.question | safe }}</p>
  {% call formSection() %}
    {{ selectionButtons(fields.jurisdiction.agree, content.question,
        options = [
        { label: content.fields.agree.heading, value: validValues.yes },
        { label: content.fields.disagree.heading, value: validValues.no, target: "jurisdiction-no" }
        ],
        hideQuestion=true,
        inline=false,
        type='radio'
      )
    }}
    <div id="jurisdiction-no" class="form-group panel js-hidden">

      {{ textarea(fields.jurisdiction.reason, content.fields.disagree.reason) }}

      {{ textbox(fields.jurisdiction.country, content.fields.disagree.country) }}

    </div>
  {% endcall %}
</div>
{% endblock %}
