<div class="govuk-visually-hidden govuk-cookie-banner__message govuk-width-container" id="accept-all-cookies-success">
    <div class="govuk-width-container">
        <div class="govuk-!-padding-top-5 govuk-!-padding-bottom-5">
            <p class="govuk-body">You’ve accepted additional cookies. You can <a href="/cookies">change your cookie settings</a> at any time.</p>
            <p id="cookie-accept-all-success-banner-hide" class="govuk-body govuk-button-group"><a class="govuk-button" href="#">Hide this message</a></p>
        </div>
    </div>
</div>
